.upper.upper_color-white(style="background-image:url(./images/temp/79.jpg)")
	a.upper__play(href="https://www.youtube.com/watch?v=5jermSA-KpE&ab_channel=H%C3%B6rmannRussia" data-fancybox)
		.upper__play__icon
			+svg('play-circle')
		.h1 Смотреть
	.container
		.breadcrumbs
			ul(itemscope itemtype="http://schema.org/BreadcrumbList")
				li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
					a(itemprop="item" href="#")
						span(itemprop="name") Главная
					meta(itemprop="position" content="1")
				li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
					span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/o-kompanii/")
						span(itemprop="name") О компании
					meta(itemprop="position" content="2")
.edge.edge_border.wow(data-app="edge" data-wow-offset="200")
	.container.container_width-1038
		.edge__box
			.edge__content
				h1.h2 Hörmann — качество #[br]без компромиссов
				.text
					| Hörmann — единственный производитель на международном рынке, предлагающий «из одних рук» все основные строительные элементы, которые изготавливаются на высокоспециализированных предприятиях в соответствии с новейшими техническими достижениями. Имея широкую торговую и сервисную сеть в Европе и представительства в Америке и Азии, Hörmann является надежным поставщиком высококачественных строительных конструкций.
				.link-icon
					a(href="#")
						+svg('book').link-icon_width-24
						span Контакты компании
			.edge__slider
				.edge__number
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.subtext
									| 01
							.swiper-slide
								.subtext
									| 02
							.swiper-slide
								.subtext
									| 03
				.edge__inner
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.edge__inner__row
									.edge__inner__img
										img(src="./images/temp/80.png" alt="")
									.edge__inner__content
										.subtext
											| Думая о будущем
										.text
											| Компания Hörmann подаёт хороший пример. Предприятие на 100 % покрывает свое потребление энергии из экологически чистой электроэнергии.
							.swiper-slide
								.edge__inner__row
									.edge__inner__img
										img(src="./images/temp/80.png" alt="")
									.edge__inner__content
										.subtext
											| Думая о будущем
										.text
											| Компания Hörmann подаёт хороший пример. Предприятие на 100 % покрывает свое потребление энергии из экологически чистой электроэнергии.
							.swiper-slide
								.edge__inner__row
									.edge__inner__img
										img(src="./images/temp/80.png" alt="")
									.edge__inner__content
										.subtext
											| Думая о будущем
										.text
											| Компания Hörmann подаёт хороший пример. Предприятие на 100 % покрывает свое потребление энергии из экологически чистой электроэнергии.
.container.container_width-1038
	.bitmap.bitmap_img-left-384.wow(data-wow-offset="200")
		.bitmap__image
			img(src="./images/temp/81.jpg" alt="")
		.bitmap__content
			h2 Наши ценности
			.text
				| Текст о ценностях... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
				br
				br
				| Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
	.bitmap.bitmap_img-right-384.wow(data-wow-offset="200")
		.bitmap__content
			h2 Инновации
			.text
				| История предприятия Hörmann началась в 50-е годы прошлого века с промышленного изготовления гаражных подъемно-поворотных ворот оригинальной конструкции – ворот Berry.
				br
				br
				| Перспективное развитие нашей фирмы началось в 1960-е годы с производства компактных, открывающихся вертикально секционных ворот для гаражей, промышленных зданий и мастерских. Ассортимент продукции с тех пор постоянно расширялся. Сегодня помимо известных классических моделей он включает в себя также рулонные, откатные и скоростные ворота, входные и внутренние двери, дверные коробки, приводы ворот и дверей, огнестойкие и дымонепроницаемые перегородки, перегрузочную технику, а также автоматические системы для сдвижных дверей и управления при въезде/выезде автомобилей.
		.bitmap__image
			img(src="./images/temp/82.jpg" alt="")
.story.wow(data-wow-offset="200" data-app="story")
	.container
		h2.wow(data-wow-offset="200") История компании
		.slider
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.slider__item
							.slider__item__image
								img(src="./images/temp/43.jpg" alt="")
							.slider__item__label
								| Дата/период
							.slider__item__text
								| Краткое описание... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
					.swiper-slide
						.slider__item
							.slider__item__image
								img(src="./images/temp/44.jpg" alt="")
							.slider__item__label
								| Дата/период
							.slider__item__text
								| Краткое описание... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
					.swiper-slide
						.slider__item
							.slider__item__image
								img(src="./images/temp/45.jpg" alt="")
							.slider__item__label
								| Дата/период
							.slider__item__text
								| Краткое описание... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
					.swiper-slide
						.slider__item
							.slider__item__image
								img(src="./images/temp/45.jpg" alt="")
							.slider__item__label
								| Дата/период
							.slider__item__text
								| Краткое описание... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
		.story__tabs
			.story__tabs__content
				.story__tabs__list
					ul
						li: a.is-active(href="#" data-target="1") В мире
						li: a(href="#" data-target="2") В России
				.story__tabs__item.is-active(data-item="1")
					.title-text
						| Международное развитие
					.text
						| Концерн Hörmann является ведущим поставщиком дверей и ворот на рынках Европы. С момента основания фирмы в 1935 году были выпущены более 20 млн. ворот.  Свыше 6000 сотрудников на 36 специализированных заводах в Европе, Северной Америке и Азии разрабатывают и производят высококачественные ворота, двери, коробки и приводы для применения в частном и промышленном секторе.
						br
						br
						| Главный офис международной компании Hörmann находится в Штайнхагене, небольшом вестфальском городке. Семейное предприятие наконец достигло годового оборота в 1 млрд. евро. Компания Hörmann имеет свыше 100 собственных торговых представительств в более чем 40 странах мира и еще в более чем 50 странах представлена торговыми партнерами.
				.story__tabs__item(data-item="2")
					.title-text
						| Hörmann в России
					.text
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
						br
						br
						| Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
						br
						br
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
			.story__tabs__image
				img(src="./images/temp/83.jpg" alt="")
.container
	.bitmap.bitmap_sire.wow(data-wow-offset="200")
		.bitmap__content
			.title-text
				| Все от одного производителя
			.text
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
				br
				br
				| Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
		.bitmap__image
			img(src="./images/temp/84.jpg" alt="")
.make(data-app="make")
	.container
		h2.wow(data-wow-offset="200") Производство
		.make__row.wow(data-wow-offset="200")
			.make__content
				.text
					| Текст о производстве и контроле качетва... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				.make__list
					ul
						li: a.is-active(href="#" data-target="1") Германия
						li: a(href="#" data-target="2") Нидерланды
						li: a(href="#" data-target="3") Польша
						li: a(href="#" data-target="4") Австрия
						li: a(href="#" data-target="5") Великобритания
					ul
						li: a(href="#" data-target="6") Франция
						li: a(href="#" data-target="7") Италия
						li: a(href="#" data-target="8") США
						li: a(href="#" data-target="9") Индия
						li: a(href="#" data-target="10") Китай
			.make__item.is-active(data-item="1")
				.make__slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 2
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 3
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 4
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 5
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 6
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 7
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 8
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 9
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 10
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 11
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 12
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 13
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 14
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
					button.make__slider__arrow.make__slider__arrow_prev(type="button"): +svg('arrow')
					button.make__slider__arrow.make__slider__arrow_next(type="button"): +svg('arrow')
					.make__slider__pager
			.make__item(data-item="2")
				.make__slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 2
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 3
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 4
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 5
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 6
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 7
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 8
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 9
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 10
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 11
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 12
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 13
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 14
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
					button.make__slider__arrow.make__slider__arrow_prev(type="button"): +svg('arrow')
					button.make__slider__arrow.make__slider__arrow_next(type="button"): +svg('arrow')
					.make__slider__pager
			.make__item(data-item="3")
				.make__slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 2
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 3
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 4
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 5
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 6
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 7
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 8
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 9
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 10
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 11
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 12
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 13
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 14
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
					button.make__slider__arrow.make__slider__arrow_prev(type="button"): +svg('arrow')
					button.make__slider__arrow.make__slider__arrow_next(type="button"): +svg('arrow')
					.make__slider__pager
			.make__item(data-item="4")
				.make__slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 2
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 3
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 4
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 5
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 6
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 7
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 8
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 9
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 10
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 11
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 12
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 13
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 14
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
					button.make__slider__arrow.make__slider__arrow_prev(type="button"): +svg('arrow')
					button.make__slider__arrow.make__slider__arrow_next(type="button"): +svg('arrow')
					.make__slider__pager
			.make__item(data-item="5")
				.make__slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 2
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 3
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 4
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 5
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 6
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 7
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 8
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 9
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 10
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 11
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 12
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 13
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 14
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
					button.make__slider__arrow.make__slider__arrow_prev(type="button"): +svg('arrow')
					button.make__slider__arrow.make__slider__arrow_next(type="button"): +svg('arrow')
					.make__slider__pager
			.make__item(data-item="6")
				.make__slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 2
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 3
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 4
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 5
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 6
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 7
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 8
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 9
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 10
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 11
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 12
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 13
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 14
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
					button.make__slider__arrow.make__slider__arrow_prev(type="button"): +svg('arrow')
					button.make__slider__arrow.make__slider__arrow_next(type="button"): +svg('arrow')
					.make__slider__pager
			.make__item(data-item="7")
				.make__slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 2
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 3
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 4
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 5
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 6
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 7
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 8
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 9
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 10
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 11
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 12
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 13
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 14
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
					button.make__slider__arrow.make__slider__arrow_prev(type="button"): +svg('arrow')
					button.make__slider__arrow.make__slider__arrow_next(type="button"): +svg('arrow')
					.make__slider__pager
			.make__item(data-item="8")
				.make__slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 2
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 3
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 4
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 5
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 6
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 7
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 8
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 9
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 10
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 11
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 12
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 13
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 14
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
					button.make__slider__arrow.make__slider__arrow_prev(type="button"): +svg('arrow')
					button.make__slider__arrow.make__slider__arrow_next(type="button"): +svg('arrow')
					.make__slider__pager
			.make__item(data-item="9")
				.make__slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 2
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 3
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 4
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 5
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 6
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 7
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 8
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 9
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 10
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 11
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 12
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 13
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 14
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
					button.make__slider__arrow.make__slider__arrow_prev(type="button"): +svg('arrow')
					button.make__slider__arrow.make__slider__arrow_next(type="button"): +svg('arrow')
					.make__slider__pager
			.make__item(data-item="10")
				.make__slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 2
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 3
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 4
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 5
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 6
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 7
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 8
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 9
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 10
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 11
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 12
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 13
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
							.swiper-slide
								.make__slider__item
									.make__slider__item__img
										img(src="./images/temp/85.jpg" alt="")
									.make__slider__item__title
										| Hörmann KG Amshausen, Германия 14
									.make__slider__item__text
										| Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
					button.make__slider__arrow.make__slider__arrow_prev(type="button"): +svg('arrow')
					button.make__slider__arrow.make__slider__arrow_next(type="button"): +svg('arrow')
					.make__slider__pager

.container
	.educ.wow(data-wow-offset="200")
		h2.wow(data-wow-offset="200") Учебно-выставочный центр Hörmann Forum
		.educ__row
			.educ__content
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
				br
				br
				| Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
			.educ__slider(data-app="slider-educ")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.educ__slider__img
								img(src="./images/temp/86.jpg" alt="")
						.swiper-slide
							.educ__slider__img
								img(src="./images/temp/87.jpg" alt="")
						.swiper-slide
							.educ__slider__img
								img(src="./images/temp/86.jpg" alt="")
	.greenbook
		.edge.wow(data-app="edge" style="background-image:url(./images/temp/89.jpg)" data-wow-offset="200")
			.edge__box
				.edge__content
					h2 Экология
					.text
						| Компания Hörmann, являясь семейным предприятием, всегда сознательно несла и несет ответственность за будущие поколения. Ответственность за своих сотрудников, за продукцию компании Hörmann, за ресурсы и за нашу окружающую среду. Сегодня мы еще больше осознаем эту ответственность.
				.edge__slider
					.edge__number
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.subtext
										| 01
								.swiper-slide
									.subtext
										| 02
								.swiper-slide
									.subtext
										| 03
					.edge__inner
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.edge__inner__row
										.edge__inner__img
											img(src="./images/temp/80.png" alt="")
										.edge__inner__content
											.subtext
												| Экологичное производство
											.text
												| Изделия Hörmann, процессы производства и общая организация постоянно совершенствуются и проверяются. Это касается качества, энергосбережения, охраны окружающей среды и труда, а также соблюдения техники безопасности.
								.swiper-slide
									.edge__inner__row
										.edge__inner__img
											img(src="./images/temp/80.png" alt="")
										.edge__inner__content
											.subtext
												| Экологичное производство
											.text
												| Изделия Hörmann, процессы производства и общая организация постоянно совершенствуются и проверяются. Это касается качества, энергосбережения, охраны окружающей среды и труда, а также соблюдения техники безопасности.
								.swiper-slide
									.edge__inner__row
										.edge__inner__img
											img(src="./images/temp/80.png" alt="")
										.edge__inner__content
											.subtext
												| Экологичное производство
											.text
												| Изделия Hörmann, процессы производства и общая организация постоянно совершенствуются и проверяются. Это касается качества, энергосбережения, охраны окружающей среды и труда, а также соблюдения техники безопасности.
		.greenbook__info.wow(data-wow-offset="200")
			.greenbook__logo
				img(src="./images/logo-greenbook.svg" alt="")
			.greenbook__row
				.greenbook__col
					.subtext
						| В 2019 году компания Hörmann зарегистрировалась в новом каталоге экологически безопасных материалов, разработанном по поручению МинПрироды и Правительства России.
				.greenbook__col.hidden-mobile
				.greenbook__col
					.text
						| Каталог GREEN BOOK включает в себя доступную и проверенную информацию об экологичной продукции, способствует развитию «зеленого» строительства в России, улучшает экологические характеристики возводимых объектов.
						br
						br
						| Экологическая безопасность продукции стройиндустрии должна рассматриваться с учетом оценки всего жизненного цикла: долгосрочной перспективы использования и утилизации продукции, потребления ресурсов и других экологических характеристик.
				.greenbook__col
					.text
						| Компания Hörmann продвигает экологически ориентированное и социально ответственное управление бизнесом. В каталоге мы изложили наши рекомендации по продукции и материалам, безопасным для здоровья человека и окружающей среды, подтвержденные экологическими сертификатами. GREEN BOOK поможет не ошибиться и сделать правильный выбор в пользу экологичной продукции и надежного поставщика.
					.link-arrow
						a(href="#") Перейти в Green Book
	.bitmap.bitmap_logic.wow(data-wow-offset="200")
		.bitmap__content
			h2 Логистика
			.text
				| Текст о ценностях... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo
				br
				br
				| Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				br
				br
				| Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
				br
				br
				| Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
		.bitmap__image
			img(src="./images/temp/88.jpg" alt="")
	form.form.wow(data-wow-offset='200' action="./ajax/test.json" method="get" data-app="form")
		.form__box
			.title-text
				| Стать партнером
			.form__row.form__row_width-33
				.form__col
					.form__input
						.form__label
							| Ваше имя
						.form__field
							input(type="text" name="name" data-validation={
								regex: ['^[a-zA-Zа-яА-Я\\s]+$', 'ig'],
								maxlength: 300,
							} required)
				.form__col
					.form__input
						.form__label
							| Компания
						.form__field
							input(type="text" name="text" data-validation={
								maxlength: 300
							} required)
				.form__col
					.form__input
						.form__label
							| Город
						.form__field
							input(type="text" name="city" data-validation={
								regex: ['^[a-zA-Zа-яА-Я\\s]+$', 'ig'],
								maxlength: 300,
							} required)
				.form__col
					.form__input
						.form__label
							| Телефон
						.form__field
							input(type="tel" placeholder="+7 (___) ___ __-__" data-app="mask" data-mask="+7 (999) 999 99-99" inputmode="text" name="tel" required)
				.form__col
					.form__input
						.form__label
							| Email
						.form__field
							input(type="email" name="email" data-validation={
								regex: ['^\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,6}\\b$', 'i'],
								maxlength: 254,
							} required)
				.form__col
					.form__input
						.form__label
							| Сайт компании
						.form__field
							input(type="text" name="site" data-validation={
								maxlength: 300
							} required)
			.form__input
				.form__label
					| Расскажите о компании
				.form__field
					textarea(name="subject" data-validation={
						maxlength: 2000,
					} required)
			.form__submit
				button.btn(type="submit")
					span Отправить
				.checkbox
					label
						input(type="checkbox" name="checkbox" required)
						i
						span Я ознакомлен и согласен с условиями сбора и обработки персональных данных в рамках #[a(href="#") Политики конфиденциальности]
