.container
	.breadcrumbs
		ul(itemscope itemtype="http://schema.org/BreadcrumbList")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Главная
				meta(itemprop="position" content="1")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/stati-i-sovety/")
					span(itemprop="name") Статьи и советы
				meta(itemprop="position" content="2")
	.advises
		h1.h2.wow(data-wow-offset="200") Статьи и советы

		.adv-tags.wow(data-wow-offset="200")
			a.e-label(href="#") Двери
			a.e-label(href="#") Ворота
			a.e-label(href="#") Уход
			a.e-label(href="#") Безопасность
			a.e-label(href="#") Умный дом
			a.e-label(href="#") Тег
			a.e-label(href="#") Длинный тег

		.adv-tiles.wow(data-wow-offset="200")
			a.adv-tile(href="#")
				.at-img
					img(src="./images/temp/70.jpg")
				.at-txt
					p Изоляция гаража – Чем выгодны для Вас гаражные ворота с теплоизоляцией?
			a.adv-tile(href="#")
				.at-img
					img(src="./images/temp/72.jpg")
				.at-txt
					p Изоляция гаража – Чем выгодны для Вас гаражные ворота с теплоизоляцией?
			a.adv-tile(href="#")
				.at-img
					img(src="./images/temp/73.jpg")
				.at-txt
					p Изоляция гаража – Чем выгодны для Вас гаражные ворота с теплоизоляцией?
			a.adv-tile(href="#")
				.at-img
					img(src="./images/temp/72.jpg")
				.at-txt
					p Изоляция гаража – Чем выгодны для Вас гаражные ворота с теплоизоляцией?
			a.adv-tile(href="#")
				.at-img
					img(src="./images/temp/73.jpg")
				.at-txt
					p Изоляция гаража – Чем выгодны для Вас гаражные ворота с теплоизоляцией?
			a.adv-tile(href="#")
				.at-img
					img(src="./images/temp/70.jpg")
				.at-txt
					p Изоляция гаража – Чем выгодны для Вас гаражные ворота с теплоизоляцией?
			a.adv-tile(href="#")
				.at-img
					img(src="./images/temp/73.jpg")
				.at-txt
					p Изоляция гаража – Чем выгодны для Вас гаражные ворота с теплоизоляцией?
			a.adv-tile(href="#")
				.at-img
					img(src="./images/temp/70.jpg")
				.at-txt
					p Изоляция гаража – Чем выгодны для Вас гаражные ворота с теплоизоляцией?
			a.adv-tile(href="#")
				.at-img
					img(src="./images/temp/72.jpg")
				.at-txt
					p Изоляция гаража – Чем выгодны для Вас гаражные ворота с теплоизоляцией?
