.container
	.breadcrumbs
		ul(itemscope itemtype="http://schema.org/BreadcrumbList")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Главная
				meta(itemprop="position" content="1")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Архитекторам
				meta(itemprop="position" content="2")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/programma-dlya-arkhitektorov/")
					span(itemprop="name") Программа для архитекторов
				meta(itemprop="position" content="3")
	h1.h2.wow(data-wow-offset="200") Программа для архитекторов
	.program
		.program__row.wow(data-wow-offset="200")
			.program__col
				.program__item
					.text
						| С помощью Программы для архитекторов Hörmann Вы сможете легко и удобно, всего в несколько кликов составлять индивидуальные описания изделий, а также использовать чертежи продукции Hörmann. Благодаря современному и удобному для пользователя графическому интерфейсу планирование изделий Hörmann стало еще проще.
						br
						br
						| Четкая структура управления при помощи раскрывающегося меню и иконок, а&nbsp;также функция поиска предлагают быстрый доступ к текстам описания и чертежам (в формате DWG и PDF) к более чем 850 изделиям Hörmann. Фотографические изображения дополняют информацию о многих изделиях.
			.program__col.program__col_mob-order
				.program__image
					img(src="./images/temp/92.jpg" alt="")
		.program__row.wow(data-wow-offset="200")
			.program__col
				.program__item
					.title-text Онлайн версия
					.text
						| С новой онлайн-версией Вы можете использовать Программу для архитекторов под операционными системами Windows, MAC и Android. Независимо от того, пользуетесь ли Вы смартфоном, планшетом, ноутбуком или стационарным компьютером в офисе, Вы сможете в любой момент запросить данные в программе.
					a.btn(href="#")
						span Перейти к онлайн версии
					.program__item__desc
						| Работает на Windows, MAC и Android
			.program__col
				.program__item
					.title-text Оффлайн версия
					.text
						| С помощью Программы для архитекторов Hörmann Вы сможете легко и удобно, всего в несколько кликов составлять описания изделий, а также использовать чертежи продукции Hörmann. Тексты составляются в формате GAEB, в OpenOffice или в Microsoft Word.
						br
						br
						| Программа работает под операционной системой Windows, от Windows 7 и под Mac OS в комбинации с виртуальным аппаратным окружением Windows, например на Apple Mac OS X с операционной системой Windows 7 и ПО Parallels или VMWare Fusion.
						br
						br
						| Оффлайн версию программы для архитекторов можно скачать с чертежами или без чертежей. Также доступна версия на английском языке.
					a.btn(href="#" download)
						span Скачать офлайн версию  (775 Мб)
					.program__item__desc
						| Содержит Программу для архитекторов, все графики и чертежи, а также описания 850 изделий.
					.program__item__desc
						| Актуальная версия: V 2018 (14.1)
						br
						| По состоянию на Июль 2018 г.
	h2.wow(data-wow-offset="200") Частые вопросы по программе
	.accordion.accordion_program.wow(data-wow-offset="200" data-app="accordion")
		.accordion__item
			.title-text
				| Почему отдельные части программы находятся за пределами экрана или не видны
			.accordion__drop
				.subtext
					span Причина и решение 1
				.text
					| Программа для архитекторов версии V 8.0 и выше требует разрешения экрана как минимум 1280 x 1024 (соответствует старому формату экрана 4:3). При более низком разрешении работать с программой невозможно, так как не все кнопки видны на экране.
				.subtext
					span Причина и решение 2
				.text
					| Если на экране был изменен размер шрифта, это, конечно, тоже может привести к тому, что отдельные части окна программы «обрезаются». Если Вы на рабочем столе нажмете на правую кнопку мыши, то с помощью функции Разрешение экрана Вы попадете в следующее окно:
				.accordion__drop__image
					img(src="./images/temp/86.jpg" alt="")
				.text
					| С помощью строки в красной рамке Вы попадете в диалоговое окно, в котором Вы сможете увеличить размер отображенных на экране данных Если Вы выберете здесь любое значение, отличающееся от 100 %, то разрешение экрана снова уменьшится.
				.accordion__drop__image
					img(src="./images/temp/86.jpg" alt="")
		.accordion__item
			.title-text
				| Почему отдельные части программы находятся за пределами экрана или не видны
			.accordion__drop
				.subtext
					span Причина и решение 1
				.text
					| Программа для архитекторов версии V 8.0 и выше требует разрешения экрана как минимум 1280 x 1024 (соответствует старому формату экрана 4:3). При более низком разрешении работать с программой невозможно, так как не все кнопки видны на экране.
				.subtext
					span Причина и решение 2
				.text
					| Если на экране был изменен размер шрифта, это, конечно, тоже может привести к тому, что отдельные части окна программы «обрезаются». Если Вы на рабочем столе нажмете на правую кнопку мыши, то с помощью функции Разрешение экрана Вы попадете в следующее окно:
				.accordion__drop__image
					img(src="./images/temp/86.jpg" alt="")
				.text
					| С помощью строки в красной рамке Вы попадете в диалоговое окно, в котором Вы сможете увеличить размер отображенных на экране данных. Если Вы выберете здесь любое значение, отличающееся от 100 %, то разрешение экрана снова уменьшится.
				.accordion__drop__image
					img(src="./images/temp/86.jpg" alt="")
		.accordion__item
			.title-text
				| Почему отдельные части программы находятся за пределами экрана или не видны
			.accordion__drop
				.subtext
					span Причина и решение 1
				.text
					| Программа для архитекторов версии V 8.0 и выше требует разрешения экрана как минимум 1280 x 1024 (соответствует старому формату экрана 4:3). При более низком разрешении работать с программой невозможно, так как не все кнопки видны на экране.
				.subtext
					span Причина и решение 2
				.text
					| Если на экране был изменен размер шрифта, это, конечно, тоже может привести к тому, что отдельные части окна программы «обрезаются». Если Вы на рабочем столе нажмете на правую кнопку мыши, то с помощью функции Разрешение экрана Вы попадете в следующее окно:
				.accordion__drop__image
					img(src="./images/temp/86.jpg" alt="")
				.text
					| С помощью строки в красной рамке Вы попадете в диалоговое окно, в котором Вы сможете увеличить размер отображенных на экране данных. Если Вы выберете здесь любое значение, отличающееся от 100 %, то разрешение экрана снова уменьшится.
				.accordion__drop__image
					img(src="./images/temp/86.jpg" alt="")
		.accordion__item
			.title-text
				| Почему отдельные части программы находятся за пределами экрана или не видны
			.accordion__drop
				.subtext
					span Причина и решение 1
				.text
					| Программа для архитекторов версии V 8.0 и выше требует разрешения экрана как минимум 1280 x 1024 (соответствует старому формату экрана 4:3). При более низком разрешении работать с программой невозможно, так как не все кнопки видны на экране.
				.subtext
					span Причина и решение 2
				.text
					| Если на экране был изменен размер шрифта, это, конечно, тоже может привести к тому, что отдельные части окна программы «обрезаются». Если Вы на рабочем столе нажмете на правую кнопку мыши, то с помощью функции Разрешение экрана Вы попадете в следующее окно:
				.accordion__drop__image
					img(src="./images/temp/86.jpg" alt="")
				.text
					| С помощью строки в красной рамке Вы попадете в диалоговое окно, в котором Вы сможете увеличить размер отображенных на экране данных. Если Вы выберете здесь любое значение, отличающееся от 100 %, то разрешение экрана снова уменьшится.
				.accordion__drop__image
					img(src="./images/temp/86.jpg" alt="")
		.accordion__item
			.title-text
				| Почему отдельные части программы находятся за пределами экрана или не видны
			.accordion__drop
				.subtext
					span Причина и решение 1
				.text
					| Программа для архитекторов версии V 8.0 и выше требует разрешения экрана как минимум 1280 x 1024 (соответствует старому формату экрана 4:3). При более низком разрешении работать с программой невозможно, так как не все кнопки видны на экране.
				.subtext
					span Причина и решение 2
				.text
					| Если на экране был изменен размер шрифта, это, конечно, тоже может привести к тому, что отдельные части окна программы «обрезаются». Если Вы на рабочем столе нажмете на правую кнопку мыши, то с помощью функции Разрешение экрана Вы попадете в следующее окно:
				.accordion__drop__image
					img(src="./images/temp/86.jpg" alt="")
				.text
					| С помощью строки в красной рамке Вы попадете в диалоговое окно, в котором Вы сможете увеличить размер отображенных на экране данных. Если Вы выберете здесь любое значение, отличающееся от 100 %, то разрешение экрана снова уменьшится.
				.accordion__drop__image
					img(src="./images/temp/86.jpg" alt="")
	.magazine.wow(data-wow-offset="200")
		.magazine__content
			.title-text
				| Читайте журнал Portal
			.text
				| PORTAL – журнал для архитекторов Hörmann с интересными отчетами о проектах известных архитекторов выходит три раза в год.
			a.btn(href="#")
				span Все выпуски журнала
		.magazine__image
			img(src="./images/temp/77.png" alt="")
