.page-index.margin-120
	.index-hero.wow
		.index-hero__container(data-is='index-slider')
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.index-hero__item
							.index-hero__image.swiper-lazy(data-background='./images/temp/61.jpg')
							.index-hero__content-wrapper
								.index-hero__content.wrapper.wrapper--md
									.index-hero__content-inner
										.b-label Акция до 1 марта 2019
										.h1.index-hero__title Заголовок баннера 1
										p.index-hero__small-subtext Краткое описание предложения, #[br] акции для бизнес-клиентов
										a.btn(href="#")
											span Подробнее
						.swiper-lazy-preloader
					.swiper-slide
						.index-hero__item
							.index-hero__image.swiper-lazy(data-background='./images/temp/33.jpg')
							.index-hero__content-wrapper
								.index-hero__content.wrapper.wrapper--md
									.index-hero__content-inner
										.b-label Какой-то текст
										.h1.index-hero__title Заголовок баннера 1
										p.index-hero__small-subtext Краткое описание предложения, #[br] акции для бизнес-клиентов
										a.btn(href="#")
											span Подробнее
						.swiper-lazy-preloader
					.swiper-slide
						.index-hero__item
							.index-hero__image.swiper-lazy(data-background='./images/temp/33.jpg')
							.index-hero__content-wrapper
								.index-hero__content.wrapper.wrapper--md
									.index-hero__content-inner
										.b-label Какой-то текст
										.h1.index-hero__title Заголовок баннера 1
										p.index-hero__small-subtext Краткое описание предложения, #[br] акции для бизнес-клиентов
										a.btn(href="#")
											span Подробнее
						.swiper-lazy-preloader
				.swiper-pagination
				.b-arr-nav.index-hero__nav
					.b-arr-nav__btn.b-arr-nav__btn--prev.js_btn-prev
						+svg('arrow')
					.b-arr-nav__btn.b-arr-nav__btn--next.js_btn-next
						+svg('arrow')
.container
	.width-700.margin-24
		h2.margin-32.wow(data-wow-offset='200') Hörmann для бизнеса
		.text.wow(data-wow-offset='200')
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
	.link-icon.link-icon_right.margin-32.wow(data-wow-offset='200')
		a(href="#")
			+svg('book')
			span Контакты для бизнеса
	.choice.wow(data-wow-offset='200' data-app="choice")
		.choice__list
			.choice__list__menu
				button.choice__list__menu__btn(type="button")
				ul
					li: a.is-active-mob(href="#" data-target="1") Промышленные ворота
					li: a(href="#" data-target="2") Специальные двери
					li: a(href="#" data-target="3") Приводы
					li: a(href="#" data-target="4") Контроль въезда
			.choice__item.is-active-mob(data-item="1")
				.subtext 1. Промышленные ворота
				.choice__item__text
					| Краткое описание УТП данной группы товаров
				.choice__item__drop
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
			.choice__item(data-item="2")
				.subtext 2. Специальные двери
				.choice__item__text
					| Краткое описание УТП данной группы товаров
				.choice__item__drop
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
			.choice__item(data-item="3")
				.subtext 3. Приводы
				.choice__item__text
					| Плавность, комфорт и безопасность
				.choice__item__drop
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
			.choice__item(data-item="4")
				.subtext 4. Контроль въезда
				.choice__item__text
					| Краткое описание УТП данной группы товаров
				.choice__item__drop
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
		.choice__image
			img(src="./images/temp/65.jpg" alt="")
			.choice__image__pin(style="top: 44%;left: 18%;" data-target="1")
				button.choice__image__pin__btn(type="button") 1
				.choice__image__info
					.subtext Приводы
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
			.choice__image__pin(style="top: 40%;left: 60%;" data-target="2")
				button.choice__image__pin__btn(type="button") 2
				.choice__image__info
					.subtext Приводы
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
			.choice__image__pin(style="top: 54%;left: 40%;" data-target="3")
				button.choice__image__pin__btn(type="button") 3
				.choice__image__info
					.subtext Приводы
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
			.choice__image__pin(style="top: 78%;left: 47%;" data-target="4")
				button.choice__image__pin__btn(type="button") 4
				.choice__image__info
					.subtext Приводы
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
.edge.edge_images.wow(data-app="edge" data-wow-offset="200")
	.edge__image
		img(src="./images/temp/37.jpg" alt="")
		img(src="./images/temp/38.jpg" alt="")
		img(src="./images/temp/39.jpg" alt="")
	.container
		.edge__box
			.edge__content
				h2 Hörmann — качество без компромиссов
				.text
					| Hörmann — единственный производитель на международном рынке, предлагающий «из одних рук» все основные строительные элементы, которые изготавливаются на высокоспециализированных предприятиях в соответствии с новейшими техническими достижениями. Имея широкую торговую и сервисную сеть в Европе и представительства в Америке и Азии, Hörmann является надежным поставщиком высококачественных строительных конструкций.
			.edge__slider
				.edge__number
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.subtext
									| 01
							.swiper-slide
								.subtext
									| 02
							.swiper-slide
								.subtext
									| 03
				.edge__inner
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.edge__inner__row
									.edge__inner__img
										img(src="./images/temp/40.png" alt="")
									.edge__inner__content
										.subtext
											| Немецкое качество
										.text
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
							.swiper-slide
								.edge__inner__row
									.edge__inner__img
										img(src="./images/temp/40.png" alt="")
									.edge__inner__content
										.subtext
											| Немецкое качество
										.text
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
							.swiper-slide
								.edge__inner__row
									.edge__inner__img
										img(src="./images/temp/40.png" alt="")
									.edge__inner__content
										.subtext
											| Немецкое качество
										.text
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
.container
	.title-row
		h2.wow(data-wow-offset='200') Лидеры продаж
		.link-icon.wow(data-wow-offset='200')
			a(href="#")
				+svg('blocks')
				span Весь каталог
	.slider.hidden-mobile.wow(data-wow-offset='200' data-app="slider-list")
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.slider__row
						.slider__col.slider__col_width-35
							a.slider__pic(href="#")
								.slider__pic__image(style="background-image:url(./images/temp/66.jpg)")
								.slider__pic__content
									.title-text
										| Пульты ДУ&nbsp;BiSecur
							a.slider__pic(href="#")
								.slider__pic__image(style="background-image:url(./images/temp/67.jpg)")
								.slider__pic__content
									.title-text
										| Входные двери Thermo 46
						.slider__col.slider__col_width-73
							a.slider__pic(href="#")
								.slider__pic__image(style="background-image:url(./images/temp/68.jpg)")
								.slider__pic__content
									.title-text
										| Для логистического комплекса
				.swiper-slide
					.slider__row
						.slider__col.slider__col_width-35
							a.slider__pic(href="#")
								.slider__pic__image(style="background-image:url(./images/temp/66.jpg)")
								.slider__pic__content
									.title-text
										| Пульты ДУ&nbsp;BiSecur
							a.slider__pic(href="#")
								.slider__pic__image(style="background-image:url(./images/temp/67.jpg)")
								.slider__pic__content
									.title-text
										| Входные двери Thermo 46
						.slider__col.slider__col_width-73
							a.slider__pic(href="#")
								.slider__pic__image(style="background-image:url(./images/temp/68.jpg)")
								.slider__pic__content
									.title-text
										| Для логистического комплекса
		.slider__pager
	.slider.hidden-desktop.wow(data-wow-offset='200' data-app="slider-list")
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					a.slider__pic(href="#")
						.slider__pic__image(style="background-image:url(./images/temp/66.jpg)")
						.slider__pic__content
							.title-text
								| Пульты ДУ&nbsp;BiSecur
				.swiper-slide
					a.slider__pic(href="#")
						.slider__pic__image(style="background-image:url(./images/temp/67.jpg)")
						.slider__pic__content
							.title-text
								| Входные двери Thermo 46
				.swiper-slide
					a.slider__pic(href="#")
						.slider__pic__image(style="background-image:url(./images/temp/68.jpg)")
						.slider__pic__content
							.title-text
								| Для логистического комплекса
				.swiper-slide
					a.slider__pic(href="#")
						.slider__pic__image(style="background-image:url(./images/temp/66.jpg)")
						.slider__pic__content
							.title-text
								| Пульты ДУ&nbsp;BiSecur
				.swiper-slide
					a.slider__pic(href="#")
						.slider__pic__image(style="background-image:url(./images/temp/67.jpg)")
						.slider__pic__content
							.title-text
								| Входные двери Thermo 46
				.swiper-slide
					a.slider__pic(href="#")
						.slider__pic__image(style="background-image:url(./images/temp/68.jpg)")
						.slider__pic__content
							.title-text
								| Для логистического комплекса
		.slider__pager
	.bitmap.bitmap_img-left.wow(data-wow-offset='200')
		.bitmap__image
			img(src="./images/temp/69.jpg" alt="")
		.bitmap__content
			.title-text Высококлассный сервиc
			.text
				| Краткий текст о сервисных услугах... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.olor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar te
			a.btn(href="#")
				span Подробнее о сервисе
.advice.wow(data-wow-offset='200')
	.container
		.title-row
			h2 Советы Hörmann
			.link-icon
				a(href="#")
					+svg('blocks')
					span Весь каталог
		.advice__list(data-app="slider-advice")
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						a.advice__list__item(href="#")
							.advice__list__item__image
								img(src="./images/temp/43.jpg" alt="")
							.subtext
								| #[span Изоляция гаража.] Чем выгодны для Вас гаражные ворота с теплоизоляцией?
					.swiper-slide
						a.advice__list__item(href="#")
							.advice__list__item__image
								img(src="./images/temp/44.jpg" alt="")
							.subtext
								| #[span Сравнение входных дверей.] Из каких материалов производятся входные двери?
					.swiper-slide
						a.advice__list__item(href="#")
							.advice__list__item__image
								img(src="./images/temp/45.jpg" alt="")
							.subtext
								| 5 причин, по которым монтаж гаражных ворот лучше поручить профессионалам
.container
	h2.wow(data-wow-offset='200') Свяжитесь с нами
	form.form.wow(data-wow-offset='200' action="./ajax/test.json" method="get" data-app="form")
		.form__box
			.title-text
				| Что вас интересует?
			.form__radio
				label
					input(type="radio" name="form")
					i
					span Консультация по продукции
				label
					input(type="radio" name="form")
					i
					span Сервисное обслуживание
				label
					input(type="radio" name="form")
					i
					span Запрос чертежа
				label
					input(type="radio" name="form" checked)
					i
					span Расчет стоимости
				label
					input(type="radio" name="form")
					i
					span Другое
			.form__row.form__row_width-33
				.form__col
					.form__input
						.form__label
							| Ваше имя
						.form__field
							input(type="text" name="name" data-validation={
								regex: ['^[a-zA-Zа-яА-Я\\s]+$', 'ig'],
								maxlength: 300,
							} required)
				.form__col
					.form__input
						.form__label
							| Телефон
						.form__field
							input(type="tel" placeholder="+7 (___) ___ __-__" data-app="mask" data-mask="+7 (999) 999 99-99" inputmode="text" name="tel" required)
				.form__col
					.form__input
						.form__label
							| Email
						.form__field
							input(type="email" name="email" data-validation={
								regex: ['^\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,6}\\b$', 'i'],
								maxlength: 254,
							} required)
			.form__input
				.form__label
					| Сообщение
				.form__field
					textarea(name="subject" placeholder="Расскажите об объекте и укажите, что нужно рассчитать" data-validation={
						maxlength: 2000,
					} required)
			.form__submit
				button.btn(type="submit")
					span Отправить
				.checkbox
					label
						input(type="checkbox" name="checkbox" required)
						i
						span Я ознакомлен и согласен с условиями сбора и обработки персональных данных в рамках #[a(href="#") Политики конфиденциальности]
