.container
	.breadcrumbs
		ul(itemscope itemtype="http://schema.org/BreadcrumbList")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Главная
				meta(itemprop="position" content="1")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Медиа
				meta(itemprop="position" content="2")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/dokumentatsiya/")
					span(itemprop="name") Документация
				meta(itemprop="position" content="3")
	h1.h2.wow(data-wow-offset="200") Медиа
	.links-tabs.wow(data-wow-offset="200")
		.links-tabs__row
			a.subtext(href="#") Каталоги продукции
			a.subtext(href="#") Видео
			a.subtext.is-active(href="#") Документация
			a.subtext(href="#") Журнал Portal
	.wrapp
		.wrapp__side.wow(data-wow-offset="200")
			ul
				li: a.js-goto(href="#mounting" data-target="#mounting") Монтаж
				li: a.js-goto(href="#gate-drives" data-target="#gate-drives") Приводы для ворот
				li: a.js-goto(href="#door-drives" data-target="#door-drives") Приводы для дверей
				li: a.js-goto(href="#industrial-gates" data-target="#industrial-gates") Промышленные ворота
				li: a.js-goto(href="#doors" data-target="#doors") Двери
				li: a.js-goto(href="#reloading-equipment" data-target="#reloading-equipment") Перегрузочная техника
				li: a.js-goto(href="#guarantee" data-target="#guarantee") Гарантия и указания
				li: a.js-goto(href="#actuators" data-target="#actuators") Приводы
				li: a.js-goto(href="#name" data-target="#name") Название категории
				li: a.js-goto(href="#name2" data-target="#name2") Название категории
				li: a.js-goto(href="#name3" data-target="#name3") Название категории
				li: a.js-goto(href="#name4" data-target="#name4") Название категории
				li: a.js-goto(href="#name5" data-target="#name5") Название категории
				li: a.js-goto(href="#name6" data-target="#name6") Название категории
		.wrapp__content
			.title-text.wow(data-wow-offset="200")#mounting Технические данные для монтажа
			.media.wow(data-wow-offset="200" data-app="media")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
			.title-text.wow(data-wow-offset="200")#gate-drives Приводы для ворот
			.media.wow(data-wow-offset="200" data-app="media")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
			.title-text.wow(data-wow-offset="200")#door-drives Приводы для дверей
			.media.wow(data-wow-offset="200" data-app="media")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
			.title-text.wow(data-wow-offset="200")#doors Двери
			.media.wow(data-wow-offset="200" data-app="media")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
			.title-text.wow(data-wow-offset="200")#guarantee Двери
			.media.wow(data-wow-offset="200" data-app="media")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
			.title-text.wow(data-wow-offset="200")#actuators Двери
			.media.wow(data-wow-offset="200" data-app="media")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
			.title-text.wow(data-wow-offset="200")#name Двери
			.media.wow(data-wow-offset="200" data-app="media")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
			.title-text.wow(data-wow-offset="200")#name2 Двери
			.media.wow(data-wow-offset="200" data-app="media")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
			.title-text.wow(data-wow-offset="200")#name3 Двери
			.media.wow(data-wow-offset="200" data-app="media")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
			.title-text.wow(data-wow-offset="200")#name4 Двери
			.media.wow(data-wow-offset="200" data-app="media")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
			.title-text.wow(data-wow-offset="200")#name5 Двери
			.media.wow(data-wow-offset="200" data-app="media")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
			.title-text.wow(data-wow-offset="200")#name6 Двери
			.media.wow(data-wow-offset="200" data-app="media")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
						.swiper-slide
							a.media__item(href="#")
								.media__item__image
									img(src="./images/records/1.jpg" alt="")
									.media__item__image__box PDF
								.media__item__text
									| Гаражные секционные ворота
