.container
	.breadcrumbs
		ul(itemscope itemtype="http://schema.org/BreadcrumbList")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Главная
				meta(itemprop="position" content="1")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Продукция
				meta(itemprop="position" content="2")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Промышленные ворота
				meta(itemprop="position" content="3")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/promyshlennyye-sektsionnyye-vorota/")
					span(itemprop="name") Промышленные секционные ворота
				meta(itemprop="position" content="4")
	.topic.margin-120
		.topic__item.wow(data-wow-offset='200' style="background-image:url(./images/temp/6.jpg)")
			h2 Промышленные секционные ворота
	h1.h2.wow(data-wow-offset='200') Промышленные секционные ворота Hoermann для любых целей
	.items.wow(data-wow-offset='200')
		.items__row
			.items__col
				.items__item
					.items__item__row
						.items__item__image
							img(src="./images/temp/8.jpg" alt="")
						.subtext
							| Теплоизоляция и экономия
			.items__col
				.items__item
					.items__item__row
						.items__item__image
							img(src="./images/temp/8.jpg" alt="")
						.subtext
							| Больше света в помещении
			.items__col
				.items__item
					.items__item__row
						.items__item__image
							img(src="./images/temp/8.jpg" alt="")
						.subtext
							| Максимальная прозрачность витрин
			.items__col
				.items__item
					.items__item__row
						.items__item__image
							img(src="./images/temp/8.jpg" alt="")
						.subtext
							| Современные арихитектурные решения
			.items__col
				.items__item
					.items__item__row
						.items__item__image
							img(src="./images/temp/8.jpg" alt="")
						.subtext
							| Элегантные и стильные ворота
			.items__col
				.items__item
					.items__item__row
						.items__item__image
							img(src="./images/temp/8.jpg" alt="")
						.subtext
							| Оформление фасадов и ворот
	h2.wow(data-wow-offset='200') Промышленные секционные ворота Hoermann для любых целей
	.text.margin-120.wow(data-wow-offset='200')
		| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
	h2.wow(data-wow-offset='200') Преимущества продукции Hoermann
	.items.items_bg.wow(data-wow-offset='200')
		.items__row.items__row_width-25
			.items__col
				.items__item
					| Абсолютная прозрачность на долгое время
			.items__col
				.items__item
					| Абсолютная прозрачность на долгое время
			.items__col
				.items__item
					| Долговечная конструкция
			.items__col
				.items__item
					| Подходящие монтажные решения
			.items__col
				.items__item
					| Оптимизированные решения в области логистики
			.items__col
				.items__item
					| Надежная и комфортная эксплуатация
			.items__col
				.items__item
					| Гармоничный дизайн
			.items__col
				.items__item
					| Возможности индивидуального оформления
			.items__col
				.items__item
					| Защита от взлома в серийном исполнении
			.items__col
				.items__item
					| Элементы оснащения для удобства эксплуатации
			.items__col
				.items__item
					| Комфортные решения: приводы
			.items__col
				.items__item
					| Надежное управление
	.topic.topic_pick.margin-120
		.topic__item.wow(data-wow-offset='200' style="background-image:url(./images/temp/6.jpg)")
			.title-text
				span Индивидуальный выбор цвета
				| Для большего разнообразия вариантов оформления
	.bitmap.bitmap_img-left.wow(data-wow-offset='200')
		.bitmap__image
			img(src="./images/temp/94.jpg" alt="")
		.bitmap__content
			.title-text Услуги
			.text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.
	.bitmap.bitmap_sire.wow(data-wow-offset='200')
		.bitmap__content
			.title-text
				| Все от одного производителя
			.text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.
		.bitmap__image
			img(src="./images/temp/84.jpg" alt="")
	.bitmap.bitmap_row.wow(data-wow-offset='200')
		.bitmap__col
			.bitmap__item
				.bitmap__item__image
					img(src="./images/temp/81.jpg" alt="")
				.h2 Заголовок
				.text
					| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.
		.bitmap__col
			.bitmap__item
				.bitmap__item__image
					img(src="./images/temp/82.jpg" alt="")
				.h2 Заголовок
				.text
					| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.
	h2.wow(data-wow-offset='200') #[a(href="#") Каталог промышленных секционных ворот Hoermann]
	.sked.wow(data-wow-offset='200')
		.sked__row
			.sked__col
				a.sked__item.js-sked-open(href="sked.html" style="background-image:url(./images/temp/43.jpg)")
					.sked__item__text
						| SPU F42, SPU 67 Thermo
			.sked__col
				a.sked__item.js-sked-open(href="sked.html" style="background-image:url(./images/temp/44.jpg)")
					.sked__item__text
						| APU F42, APU F42 Thermo, APU 67 Thermo
			.sked__col
				a.sked__item.js-sked-open(href="sked.html" style="background-image:url(./images/temp/45.jpg)")
					.sked__item__text
						| ALR F42, ALR F42 Thermo, ALR 67 Thermo
			.sked__col
				a.sked__item.js-sked-open(href="sked.html" style="background-image:url(./images/temp/43.jpg)")
					.sked__item__text
						| ALR F42 Glazing, ALR 67 Thermo Glazing
			.sked__col
				a.sked__item.js-sked-open(href="sked.html" style="background-image:url(./images/temp/44.jpg)")
					.sked__item__text
						| ALR F42 Vitraplan
			.sked__col
				a.sked__item.js-sked-open(href="sked.html" style="background-image:url(./images/temp/45.jpg)")
					.sked__item__text
						| ALR F42 для оформления фасадов заказчиком
			.sked__col
				a.sked__item.js-sked-open(href="sked.html" style="background-image:url(./images/temp/44.jpg)")
					.sked__item__text
						| SPU F42 Parcel / SPU F42 Parcel Walk
			.sked__col
				a.sked__item.js-sked-open(href="sked.html" style="background-image:url(./images/temp/45.jpg)")
					.sked__item__text
						| APU F42 Parcel / APU F42 Parcel Walk
			.sked__col
				.sked__box
					.subtext Нужна консультация по промышленным&nbsp;воротам?
					.sked__box__row
						.sked__box__tel
							a(href="tel:8 800 555 69 87") 8 800 555 69 87
						.sked__box__email
							a(href="mailto:info＠hoermann.ru") info＠hoermann.ru
					.sked__box__link
						a(href="#") Задать вопрос
	h2.wow(data-wow-offset='200') Только у Hoermann
	.but.wow(data-wow-offset='200')
		.but__row
			.but__col
				.but__item
					.but__item__image
						img(src="./images/temp/46.jpg" alt="")
					.title-text Опережающий световой барьер VL 1
					.subtext
						| В качестве опции для всех секционных ворот с приводом
			.but__col
				.but__item
					.but__item__image
						img(src="./images/temp/46.jpg" alt="")
					.title-text Световая решетка
					.subtext
						| Для максимальной безопасности
			.but__col
				.but__item
					.but__item__image
						img(src="./images/temp/46.jpg" alt="")
					.title-text Фланцевый привод WA 300 S4
					.subtext
						| Серийное производство с плавным пуском и плавной остановкой
			.but__col
				.but__item
					.but__item__image
						img(src="./images/temp/46.jpg" alt="")
					.title-text Навальные приводы
					.subtext
						| Для ворот без торсионно-пружинного вала
	.topic.margin-120
		.topic__item.wow(data-wow-offset='200' style="background-image:url(./images/temp/6.jpg)")
	h2.wow(data-wow-offset='200') Производство промышленных ворот Hoermann
	.bitmap.bitmap_make.wow(data-wow-offset='200')
		.bitmap__image
			img(src="./images/temp/88.jpg" alt="")
		.bitmap__content
			.text
				| Будучи ведущим европейским производителем ворот, дверей, коробок
				| и приводов, мы отвечаем за высокое качество продукции и сервиса.
				| Именно мы задаем стандарты на международном рынке.
				br
				br
				| Высокоспециализированные заводы разрабатывают и производят
				| конструктивные элементы, отличающиеся качеством, функциональной
				| надежностью и долгим сроком службы.
				br
				br
				| Благодаря нашим представительствам в важнейших экономических регионах мира мы являемся надежным и прогрессивным партнером
				| в области объектного и промышленного строительства.
	.edge.wow(data-app="edge" data-wow-offset="200")
		.edge__box
			.edge__content
				h2 Преимущества сотрудничества с Hoermann
			.edge__slider
				.edge__number
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.subtext
									| 01
							.swiper-slide
								.subtext
									| 02
							.swiper-slide
								.subtext
									| 03
				.edge__inner
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.edge__inner__row
									.edge__inner__img
										img(src="./images/temp/75.png" alt="")
									.edge__inner__content
										.subtext
											| Собственная разработка изделий
										.text
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
							.swiper-slide
								.edge__inner__row
									.edge__inner__img
										img(src="./images/temp/75.png" alt="")
									.edge__inner__content
										.subtext
											| Современные технологии изготовления
										.text
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
							.swiper-slide
								.edge__inner__row
									.edge__inner__img
										img(src="./images/temp/75.png" alt="")
									.edge__inner__content
										.subtext
											| Компетентный консалтинг
										.text
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
							.swiper-slide
								.edge__inner__row
									.edge__inner__img
										img(src="./images/temp/75.png" alt="")
									.edge__inner__content
										.subtext
											| Быстрый сервис
										.text
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.

	h2.wow(data-wow-offset='200') #[a(href="#") Галерея, список]
	.items.wow(data-wow-offset='200')
		.items__row
			.items__col
				.items__item
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
					.title-text
						a(href="#") Парковка
			.items__col
				.items__item
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
					.title-text
						a(href="#") Склад
			.items__col
				.items__item
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
					.title-text
						a(href="#") Промышленное здание
		.items__img.wow(data-wow-offset='200')
			img(src="./images/temp/6.jpg" alt="")
	form.form.wow(data-wow-offset='200' action="./ajax/test.json" method="get" data-app="form")
		.form__box
			.title-text
				| Заказать промышленные ворота Hoermann
			.form__row.form__row_width-33
				.form__col
					.form__input
						.form__label
							| Ваше имя
						.form__field
							input(type="text" name="name" data-validation={
								regex: ['^[a-zA-Zа-яА-Я\\s]+$', 'ig'],
								maxlength: 300,
							} required)
				.form__col
					.form__input
						.form__label
							| Телефон
						.form__field
							input(type="tel" placeholder="+7 (___) ___ __-__" data-app="mask" data-mask="+7 (999) 999 99-99" inputmode="text" name="tel" required)
				.form__col
					.form__input
						.form__label
							| Email
						.form__field
							input(type="email" name="email" data-validation={
								regex: ['^\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,6}\\b$', 'i'],
								maxlength: 254,
							} required)
			.form__input
				.form__label
					| Сообщение
				.form__field
					textarea(name="subject" data-validation={
						maxlength: 2000,
					}  required)
			.form__submit
				button.btn(type="submit")
					span Отправить
				.checkbox
					label
						input(type="checkbox" name="checkbox" required)
						i
						span Я ознакомлен и согласен с условиями сбора и обработки персональных данных в рамках #[a(href="#") Политики конфиденциальности]
