.container
	.breadcrumbs
		ul(itemscope itemtype="http://schema.org/BreadcrumbList")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Главная
				meta(itemprop="position" content="1")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/media/")
					span(itemprop="name") Медиа
				meta(itemprop="position" content="2")
	h1.h2.wow(data-wow-offset="200") Медиа
	.links-tabs.wow(data-wow-offset="200")
		.links-tabs__row
			a.subtext(href="#") Каталоги продукции
			a.subtext(href="#") Видео
			a.subtext(href="#") Документация
			a.subtext.is-active(href="#") Журнал Portal
	.items.items_media.wow(data-wow-offset="200")
		.items__row
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Гаражные секционные ворота
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Приводы гаражных и въездных ворот
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Как проверить безопасность ворот
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Декоративные покрытия ворот
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Приводы гаражных и въездных ворот
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Гаражные секционные ворота
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Приводы гаражных и въездных ворот
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Как проверить безопасность ворот
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Декоративные покрытия ворот
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Приводы гаражных и въездных ворот
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Гаражные секционные ворота
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Гаражные секционные ворота
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Приводы гаражных и въездных ворот
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Как проверить безопасность ворот
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Декоративные покрытия ворот
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Приводы гаражных и въездных ворот
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/records/1.jpg" alt="")
						.items__item__image__box PDF
					.subtext Гаражные секционные ворота

