.container
	.breadcrumbs
		ul(itemscope itemtype="http://schema.org/BreadcrumbList")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Главная
				meta(itemprop="position" content="1")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/media/")
					span(itemprop="name") Медиа
				meta(itemprop="position" content="2")
	h1.h2.wow(data-wow-offset="200") Медиа
	.links-tabs.wow(data-wow-offset="200")
		.links-tabs__row
			a.subtext.is-active(href="#") Каталоги продукции
			a.subtext(href="#") Видео
			a.subtext(href="#") Документация
			a.subtext(href="#") Журнал Portal
	.btns.wow(data-wow-offset="200")
		a.btn.btn_white.is-active(href="#") Все
		a.btn.btn_white(href="#") Двери
		a.btn.btn_white(href="#") Ворота
		a.btn.btn_white(href="#") Приводы
		a.btn.btn_white(href="#") Перегрузочная техника
		a.btn.btn_white(href="#") Контроль въезда
		a.btn.btn_white(href="#") Аксессуары
		a.btn.btn_white(href="#") Другое

	.media.wow(data-wow-offset="200" data-app="media")
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					a.media__item(href="#")
						.media__item__image
							img(src="./images/records/1.jpg" alt="")
							.media__item__image__box PDF
						.media__item__text
							| Гаражные секционные ворота
				.swiper-slide
					a.media__item(href="#")
						.media__item__image
							img(src="./images/records/1.jpg" alt="")
							.media__item__image__box PDF
						.media__item__text
							| Гаражные секционные ворота
				.swiper-slide
					a.media__item(href="#")
						.media__item__image
							img(src="./images/records/1.jpg" alt="")
							.media__item__image__box PDF
						.media__item__text
							| Гаражные секционные ворота
				.swiper-slide
					a.media__item(href="#")
						.media__item__image
							img(src="./images/records/1.jpg" alt="")
							.media__item__image__box PDF
						.media__item__text
							| Гаражные секционные ворота
				.swiper-slide
					a.media__item(href="#")
						.media__item__image
							img(src="./images/records/1.jpg" alt="")
							.media__item__image__box PDF
						.media__item__text
							| Гаражные секционные ворота
				.swiper-slide
					a.media__item(href="#")
						.media__item__image
							img(src="./images/records/1.jpg" alt="")
							.media__item__image__box PDF
						.media__item__text
							| Гаражные секционные ворота
				.swiper-slide
					a.media__item(href="#")
						.media__item__image
							img(src="./images/records/1.jpg" alt="")
							.media__item__image__box PDF
						.media__item__text
							| Гаражные секционные ворота
