.container
	.breadcrumbs
		ul(itemscope itemtype="http://schema.org/BreadcrumbList")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Главная
				meta(itemprop="position" content="1")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/novosti/")
					span(itemprop="name") Новости
				meta(itemprop="position" content="2")
	h1.h2.wow(data-wow-offset='200') Новости и пресс-релизы
	.news-list
		.news-list__item.wow(data-wow-offset='200')
			.nl-item__img(style="background-image:url(./images/temp/70.jpg)")
			.nl-item__aside
				a.h3(href="#") Гаражные ворота и входные двери: новинки 2015
				p 17 марта 2019
				p.desc Автоматические гаражные ворота являются стандартом уже многие годы. Все чаще требуются автоматические решения и для дверей: Управление входной дверью, равно как и автоматические окна и имитация присутствия, являются неотъемлемой частью «умного» частного дома. Все же, ворота и двери должны быть не только «умными», но и современными и легко приспосабливаемыми к индивидуальному облику дома.
				a(href='#')
					+svg('press-release-full')
					span Полный пресс-релиз
					span (PDF, 1 Мб)
				a(href='#')
					+svg('press-release-illustr')
					span Пресс-релиз и иллюстрации
					span (ZIP, 7 Мб)
		.news-list__item.wow(data-wow-offset='200')
			.nl-item__img(style="background-image:url(./images/temp/71.jpg)")
			.nl-item__aside
				a.h3(href="#") Hörmann на выставке BAU 2019
				p 17 марта 2019
				p.desc Компания Hörmann будет представлена как один из крупнейших экспонентов на крупнейшей в мире строительной выставке BAU в Мюнхене. На более чем 1500 м² будет представлена новая и улучшенная продукция в области ворот, дверей и систем контроля въезда.
				a(href='#')
					+svg('press-release-full')
					span Полный пресс-релиз
					span (PDF, 1 Мб)
				a(href='#')
					+svg('press-release-illustr')
					span Пресс-релиз и иллюстрации
					span (ZIP, 7 Мб)
		.news-list__item.wow(data-wow-offset='200')
			.nl-item__img(style="background-image:url(./images/temp/72.jpg)")
			.nl-item__aside
				a.h3(href="#")
					| Практически не поддается взлому:
					br
					| система ДУ BiSecur Hörmann
				p 17 марта 2019
				p.desc В то время года, когда рано темнеет, вырастает количество краж со взломом. В последние месяцы участились случаи, когда воры взламывали радиокод привода гаражных ворот и пробирались через гараж в дом. Владельцам домов в будущем следовало бы обратить внимание на проверенные системы ДУ, не поддающиеся взлому.
				.link-arrow
					a(href="#") Подробнее
	.pagination.wow(data-wow-offset='200')
		ul
			li.hidden: a.pagination__prev(href="#")
			li: a.is-active(href="#") 01
			li: a(href="#") 02
			li: a(href="#") 03
			li: a(href="#") 04
			li: a(href="#") 05
			li: a.pagination__next(href="#")



