.container
	.breadcrumbs
		ul(itemscope itemtype="http://schema.org/BreadcrumbList")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Главная
				meta(itemprop="position" content="1")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/vykhodnyye-dannyye/")
					span(itemprop="name") Выходные данные
				meta(itemprop="position" content="2")
	h1.h2.wow(data-wow-offset='200') Выходные данные
	.width-700
		.text.margin-72.wow(data-wow-offset='200')
			| Ответственность за содержание:
			br
			| ООО «Хёрманн Руссия»
			br
			br
			| 196626, Санкт-Петербург
			br
			| пос. Шушары
			br
			| отд. Бадаевское, д. 5, лит. А
			br
			br
			| Тел.: #[a(href="tel:+7 (812) 702-44-22") +7 (812) 702-44-22]
			br
			br
			| E-Mail: #[a(href="mailto:info@hoermann.ru") info@hormann.ru]
			br
			br
			| Концепция и реализация: ???
		.title-text.wow(data-wow-offset='200')
			| Ответственность
		.text.margin-72.wow(data-wow-offset='200')
			| Вся информация, предоставленная ООО «Хёрманн Руссия» на страницах данного веб-сайта, была тщательно подобрана. Несмотря на контроль содержания веб-сайта, гарантировать полное отсутствие неточностей невозможно. В связи с этим ООО «Хёрманн Руссия» отказывается от каких-либо обязательств и гарантий относительно актуальности, точности и полноты передачи информации на этом веб-сайте. Данное положение касается в особенности тех веб-сайтов, ссылки на которые размещены на страницах данного веб-сайта. Категорически исключается ответственность ООО «Хёрманн Руссия» как за содержание указанных веб-сайтов, так и за принятие мер по защите информации их владельцами.
			br
			br
			| ООО «Хёрманн Руссия» оставляет за собой право в любой момент и без предварительного уведомления изменять или дополнять содержание этого веб-сайта. Если страницы веб-сайта содержат высказывания, относящиеся к будущему, то ответственность ООО «Хёрманн Руссия» за содержание подобных высказываний исключена.
		.title-text.wow(data-wow-offset='200')
			| Защита информации
		.text.margin-72.wow(data-wow-offset='200')
			| На этом веб-сайте Вас могут попросить предоставить некоторую информацию о себе. Имейте в виду, что предоставление персональных данных с Вашей стороны носит исключительно добровольный характер. Сообщенные Вами данные будут храниться в соответствии с правовыми положениями о защите информации.
		.title-text.wow(data-wow-offset='200')
			| Авторские права
		.text.margin-72.wow(data-wow-offset='200')
			| Содержание и оформление веб-сайта ООО «Хёрманн Руссия» защищены авторским правом и законами о защите интеллектуальной собственности. Распространение или изменение содержания страниц этого сайта запрещено. Не разрешается копировать, распространять, передавать третьим лицам или изменять содержание веб-сайта в коммерческих целях. Последнее касается также фирменных знаков и логотипов.
		.title-text.wow(data-wow-offset='200')
			| Юридическая сила положения об исключении ответственности
		.text.margin-120.wow(data-wow-offset='200')
			| Это положение об исключении ответственности следует считать частью веб-сайта, с которого был осуществлен переход на данную веб-страницу. Если какие-либо части или отдельные высказывания этого положения не соответствуют, больше не соответствуют или не полностью соответствуют действующему правовому положению, то это не затрагивает содержания и действительности остальных частей документа.
			br
			br
			| Этот веб-сайт был создан на основе системы CMS TYPO3.
			br
			br
			| Установленная на веб-сайте система веб-аналитики использует файлы Cookies и JavaSkript для регистрации данных о:
			br
			br
			| количестве посетителей веб-сайта в день, неделю, месяц
			br
			| количестве посетителей веб-сайта в день, неделю, месяц
			br
			| распределении посещений веб-сайта по времени
			br
			| веб-сайте, с которого был осуществлен переход на этот веб-сайт
			br
			| ключевых словах, по которым посетители переходят на веб-сайт
			br
			| браузере посетителя
			br
			| региональной принадлежности посетителя
			br
			| поисковой системе, через которую посетитель перешел на веб-сайт
			br
			| Информация об IP-адресах посетителей веб-сайта перед обработкой анонимизируется.
			br
			br
			| Вся собранная информация служит для проведения общего анонимного анализа посещаемости веб-сайта. Вы можете воспрепятствовать сбору Ваших данных, деактивировав функцию сохранения файлов Cookies в настройках Вашего браузера. Сбор и анализ сохраненных данных проводится исключительно владельцем этого веб-сайта. Передача информации третьим лицам исключена. Пользуясь услугами веб-сайта, Вы подтверждаете свое согласие на сбор и обработку вышеуказанных данных.
		h2.wow(data-wow-offset='200') Заявление о конфиденциальности
		.text.margin-72.wow(data-wow-offset='200')
			| Настоящее Заявление о конфиденциальности распространяется на информацию, собираемую на данном сайте законосообразными методами в минимальных количествах в целях статистики и улучшения взаимодействия с посетителями сайта, а так же для предоставления вам услуг с нашей стороны.
			br
			br
			| В целях обеспечения единого понимания и толкования настоящего Заявления следующие ниже слова и выражения, используемые ниже, обозначают следующие понятия:
			br
			br
			| (1) «Конфиденциальная информация» - это документированная, зафиксированная на материальном носителе (сайте) информация, для улучшения взаимодействия с посетителями сайта при оказании им гражданско-правовых услуг. Сбор данной информации регламентируется законодательством РФ и доступ к которой ограничивается в соответствии с законодательством РФ.
			br
			br
			| (2) «Компания» означает ООО «Хёрманн Руссия», юридическое лицо созданное и действующее по законодательству Российской Федерации, юридический и фактический адрес которого: 196626, Санкт-Петербург, пос. Шушары, отд. Бадаевское, д. 5, лит. А.
			br
			br
			| (3) «сайт» означает информационное представительство в международной сети Интернет. При этом термин «настоящий сайт», «данный сайт», «этот сайт» являются равнозначными и каждое в отдельности означает информационное представительство Компании в международной сети Интернет;
			br
			br
			| (4) «пользователь» или «посетитель» или «вы» и образованные от него притяжательные местоимения означает любое юридическое или физическое лицо, имеющее доступ к международной сети Интернет и осуществляющее доступ к ресурсам настоящего сайта.
			br
			br
			| (5) «личная информация» означает информацию, которая устанавливает конкретную личность, такую как имя, почтовый адрес, адрес электронной почты или номер телефона. Если с личной информацией связана какая-либо другая информация, например, место работы и должность, то такая информация также становится личной.
			br
			br
			| Пользуясь материалами сайта, посетитель выражает свое согласие с настоящим Заявлением.
			br
			br
			| В случае нарушения настоящего Заявлением Компания оставляет за собой право применить все допустимые применимым законодательством средства по отношению к нарушителям. Данные положения распространяются на настоящих и будущих посетителей настоящего сайта Компании.
		.title-text.wow(data-wow-offset='200')
			| Сбор персональных данных
		.text.margin-72.wow(data-wow-offset='200')
			| Сайт не является средством для накопления сведений личного характера и не предоставляет эту информацию заинтересованным третьим лицам и организациям, кроме случаев, связанных с доказанным нарушением закона и требующих рассмотрения законодательными органами Российской Федерации на основании предъявленных официальных документов.
			br
			br
			| Если вы просто являетесь посетителем данного сайта, Компания не собирает о вас никакую персональную информацию за исключением данных с использованием файлов cookies. Однако в некоторых случаях вам может потребоваться предоставить личную информацию, например, для получения рассылок Компании.
			br
			br
			| Предоставление персональных данных, в частности, может потребоваться в следующих случаях:
			br
			br
			| Запроса звонка через форму запроса каталога товаров;
			br
			| Запроса через форму обратной связи в контактной информации.
		.title-text.wow(data-wow-offset='200')
			| Использование Cookies
		.text.margin-72.wow(data-wow-offset='200')
			| Cookies – это небольшие текстовые файлы, отправляемые сайтом на компьютер пользователя во время просмотра и хранимые браузером пользователя, для идентификации во время просмотра сайта. Они позволяют получать информацию относительно того, заходили ли Вы на сайт прежде, а также используются для выявления предпочтений посетителей.
			br
			br
			| Посетитель может использовать настройки браузера для отмены Cookie, для уведомления о намерении того или иного сайта создать Cookie в браузере и для принятия решения о целесообразности отказа или подтверждения. Файлы Cookies не могут переносить вирусы на компьютеры посетителей.
			br
			br
			| Большая часть информации на сайте доступна и при отключенной функции Cookies. Чтобы отключить эту функцию, измените настройки вашего интернет браузера. В отдельных случаях, блокировка функции Cookies может понизить функциональность некоторых сайтов или ограничить доступ к ним в зависимости от настроек вашего браузера.
		.title-text.wow(data-wow-offset='200')
			| Использование персональных данных
		.text.margin-72.wow(data-wow-offset='200')
			| Объем требуемой личной информации ограничивается данными, необходимыми для предоставления вам услуг с нашей стороны.
			br
			br
			| Мы можем использовать ваши персональные данные для выполнения бизнес-анализа или других целей, чтобы повысить качество нашего бизнеса, сайта и продуктов или услуг Компании (включая новые продукты или услуги) или упростить вашу работу с нашими сайтами, устраняя необходимость повторного ввода одной и той же информации или настраивая сайт под ваши особенные предпочтения и интересы.
			br
			br
			| Мы можем использовать собранную информацию с целью выявления, предотвращения и реагирования на мошеннические действия, нарушение прав интеллектуальной собственности, неисполнение наших правил и условий, несоблюдение законов и другого неправомерного использования сайта.
			br
			br
			| При возникновении необходимости использования ваших персональных данных для иных целей, мы запросим вашего согласия на такое использование.
			br
			br
			| Мы оставляем за собой право использовать ваши персональные данные, предприняв действия по их обезличиванию, для проведения статистических исследований или для иных целей.
		.title-text.wow(data-wow-offset='200')
			| Защита
		.text.margin-72.wow(data-wow-offset='200')
			| Мы принимаем необходимые правовые, организационные и технические меры для обеспечения безопасности информации, предоставленной нам посетителями нашего сайта.
			br
			br
			| Для обеспечения безопасности данных, которые мы собираем о вас, при вашем посещении нашего сайта, в надлежащих случаях используется система шифрования данных.
			br
			br
			| Данное Заявление не распространяются на сторонние сайты, в том числе и на те, на которые вы переходите через ссылки, представленные на нашем сайте. Мы не несем ответственности за подход к обеспечению конфиденциальности на сторонних сайтах.
		.title-text.wow(data-wow-offset='200')
			| Изменения «Заявления о конфиденциальности»
		.text.wow(data-wow-offset='200')
			| Компания ООО «Хёрманн Руссия» оставляет за собой право в любой момент внести изменения в текст данного Заявления. Мы рекомендуем вам регулярно просматривать «Заявление о конфиденциальности», особенно перед отправкой персональных данных на наш сайт.

