.container
	.breadcrumbs
		ul(itemscope itemtype="http://schema.org/BreadcrumbList")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Главная
				meta(itemprop="position" content="1")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Для бизнеса
				meta(itemprop="position" content="2")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Решения
				meta(itemprop="position" content="3")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/parking/")
					span(itemprop="name") Паркинг
				meta(itemprop="position" content="4")
	h1.h2.wow(data-wow-offset='200') Паркинг
	.text.width-605.margin-72.wow(data-wow-offset='200')
		| Для того чтобы правильно подобрать оборудование в паркинг, предварительно необходимо определиться с типом и назначением объекта. Какие бывают паркинги? Какие они имеют особенности? И как эти особенности могут повлиять на выбор ворот? Рассмотрим основные варианты на примере диаграммы
	.parking.wow(data-wow-offset='200')
		.parking__item
			.parking__item__image
				img(src="./images/temp/43.jpg" alt="")
			.parking__item__content
				.title-text
					| Паркинг многоквартирного жилого дома
				.parking__item__list
					ul
						li • Высокая интенсивность эксплуатации, большое количество машино-мест
						li • Есть периоды пиковых нагрузок (утренние и вечерние часы)
						li • Большинство пользователей - постоянные жильцы, ознакомленные с особенностями работы ворот и обладающие индивидуальными устройствами обеспечения доступа
						li • Как правило есть повышенные требования по теплосбережению, ограничению доступа, пожарной безопасности
		.parking__item
			.parking__item__image
				img(src="./images/temp/43.jpg" alt="")
			.parking__item__content
				.title-text
					| Паркинг в торговом центре или общественном здании
				.parking__item__list
					ul
						li • Крайне высокая интенсивность эксплуатации, большое количество машино-мест
						li • Более равномерное распределение нагрузки в течение дня
						li • Большинство пользователей - случайные посетители, не знакомые с особенностями работы ворот
						li • Как правило есть повышенные требования по пожарной безопасности, путям эвакуации, скорости работы
		.parking__item
			.parking__item__image
				img(src="./images/temp/43.jpg" alt="")
			.parking__item__content
				.title-text
					| Паркинг в офисно-деловом центре или на производстве
				.parking__item__list
					ul
						li • Средняя или высокая интенсивность эксплуатации, среднее или большое количество машино-мест
						li • Есть периоды пиковых нагрузок (утренние и вечерние часы)
						li • Различные пользователи - как постоянные сотрудники, так и разовые посетители
						li • Как правило есть повышенные требования по пожарной безопасности, путям эвакуации, возможны
						li • Увеличенные размеры проемов для грузового транспорта
		.parking__item
			.parking__item__image
				img(src="./images/temp/43.jpg" alt="")
			.parking__item__content
				.title-text
					| Частный или малоэтажный дом или таунхауз
				.parking__item__list
					ul
						li • Низкая интенсивность эксплуатации, малое количество машино-мест
						li • Нет периодов пиковых нагрузок
						li • Пользователи - постоянные жильцы
						li • Как правило есть повышенные требования по теплосбережению, дизайну, внешнему виду полотна ворот
	.text.width-800.margin-32.wow(data-wow-offset='200')
		| Когда говорят о «воротах в паркинг», чаще всего имеют в виду ворота въездной группы, через которые автомобили попадают на стоянку и покидают её. В большинстве случаев выбор падает на подъемносекционные ворота, так как эта конструкция обладает наиболее сбалансированным набором характеристик для использования в условиях коллективного гаража:
		br
		| – высокая теплоизоляция
		br
		| – надёжность, ремонтопригодность и экономичность эксплуатации
		br
		| – большой выбор цветов, вариантов отделки, остекления
		br
		| – удовлетворительная скорость работы и широкие возможности по оснащению и регулировке автоматики, для решения всех возможных эксплуатационных задач
		br
		| – оптимальная стоимость
	.width-895
		h2.wow(data-wow-offset='200') Широкий выбор ворот
		.text.padding-left-100.margin-72.wow(data-wow-offset='200')
			| SPU F42 – базовая модель подъёмно-секционных ворот для паркингов. Обладает высочайшим уровнем безопасности, превосходящим все российские и европейские требования (защита от защемления пальцев, обрыва тросов и пружин, защита от подваживания, защиты от бокового захвата и мн. др.). Имеет высочайшие характеристики теплоизоляции, звукоизоляции, ветровой нагрузки и др. эксплуатационные характеристики. Огромный выбор направляющих позволит установить ворота SPU F42 практически в любом помещении.
			br
			br
			| При установке ворот в холодном климате рекомендуем использовать ворота SPU 67 Thermo, с увеличенной толщиной секций и терморазрывом, а также применять уникальную технологию ThermoFrame, позволяющую избежать «мостиков холода» на установленных воротах.
			br
			br
			| Секционные ворота Hörmann могут быть оснащены калиткой без порога. Это позволит использовать данный выход в качестве дополнительного аварийного, а также обеспечить комфорт эксплуатации для маломобильных групп населения, а также пользователей с колясками, велосипедами, чемоданами и т. п.
			br
			br
			| Если у заказчика есть особые пожелания по внешнему виду ворот, компания «Hörmann» готова предложить десятки различных решений для создания эксклюзивного внешнего вида. Обратите внимание на ворота типа ALR и APU с большой площадью остекления, в том числе и с применением натурального стекла. Для использования в современной городской архитектуре прекрасно подойдут ворота элегантной и стильной серии Vitraplan. Ворота модели SPU F42 Plus позволят использовать практически все возможные варианты поверхности, мотивы и дизайнерские решения гаражных ворот в промышленном исполнении. Если необходимо, чтобы ворота не выделялись на фасаде здания – используйте специальную конструкцию ALR для облицовки собственным материалом заказчика.
			br
			br
			| Когда необходимо, чтобы боковая дверь была одинакового внешнего вида с воротами – используйте модели NT60 и NT80. Это позволит Вам оформить въездную группу как единый ансамбль. При этом боковые двери могут поставляться в комплектациях, позволяющих использовать их в качестве эвакуационных.
			br
			br
			| Для паркингов с крайне высокой интенсивностью эксплуатации запрашивайте усиленные исполнения элементов ворот:
			br
			| – пружинно-торсионный вал с увеличенным ресурсом пружин, электродвигатель с повышенным значениям ПВ (до 100%),
			br
			| – привод с преобразователем частоты для плавного пуска-останова и снижения нагрузок на узлы ворот, а также другие опции, которые Вам предложат специалисты компании «Hörmann»
		h2.wow(data-wow-offset='200') Автоматика
		.text.margin-32.wow(data-wow-offset='200')
			| Огромное значение для комфортной и безотказной эксплуатации подъёмно-секционных ворот на паркинге имеет правильный подбор автоматики. Необходимо учесть скорость движения полотна, алгоритмы работы ворот, регулирование движения в случаях когда один проем используется для въезда и выезда, совместную работу автоматики и систем пожарной защиты и СКУД, какие устройства будут использовать пользователи для открытия ворот.
			br
			br
			| Компания «Hörmann» все основные компоненты ворот, включая приводы и автоматику, разрабатывает и производит самостоятельно. Это гарантирует полную совместимость и идеальную согласованность работы всех систем
		.text.padding-left-100.margin-72.wow(data-wow-offset='200')
			| WA400 - базовая модель электропривода подъёмно-секционных ворот, имеет различные варианты монтажа и может поставляться как в однофазном, так и трёхфазном исполнении. Характеризуется высочайшей надежностью и безотказностью, бесшумностью при работе, высокой скоростью и пригоден для крайне интенсивных режимов эксплуатации. Для щадящих режимов работы (до 150 циклов в день) используйте надёжный и экономичный привод WA300. Для небольших коллективных гаражей (до 100 машино-мест) также подойдут электроприводы c шиной ITO400 и SupraMatic HT
			br
			br
			| Для эксплуатации в условиях паркинга рекомендуется использовать блоки управления с маркировкой A/B 460 или B460FU. Это позволит Вам иметь возможность автоматического закрытия ворот после проезда транспорта, настроить дополнительную высоту открывания (например, для проветривания или дымоудаления), а также подключить дополнительные системы регулирования движения при помощи светофорных ламп. Блок управления B460FU дополнительно оснащен преобразователем частоты, что позволяет обеспечить плавный пуск / останов и увеличить скорость работы.
			br
			br
			| Для грамотного согласования автоматики Hörmann и сторонних систем, обязательно проконсультируйтесь со специалистами компании «Hörmann». Это при необходимости позволит Вам безошибочно интегрировать оборудование Hörmann во внешние системы СКУД, противопожарной защиты или настроить взаимодействие с другими устройствами на объекте (шлагбаумы, освещение, тепловые завесы и т. д.)
			br
			br
			| Для максимальной безопасности эксплуатации используйте опережающий световой барьер (европейский патент). Бесконтактная автоматика отключения позволит заранее распознать людей или препятствия в области движения полотна ворот и не допустить соприкосновения. Правильный подпор устройств безопасности, в котором Вам окажут содействие специалисты компании «Hörmann», позволит гарантировать отсутствие травм и повреждений материальных ценностей.
			br
			br
			| Очень важным моментом является подбор устройств, при помощи которых пользователи будут открывать ворота. Проконсультируйтесь со специалистами для подбора одного из десятков вариантов устройств: дистанционное управление с брелоков, транспондеры, магнитные карты или устройства считывания отпечатков пальцев и мн. др. Не забудьте предусмотреть резервную систему управления, например для охраны / консьержа. Возможно, на Вашем объекте потребуется установка систем автоматизированного въезда-выезда без участия водителя, например, при помощи радаров, индукционных петель, оптических датчиков и т. п.
			br
			br
			| Уточните у Вашего консультанта в представительстве компании «Hörmann» о дополнительных возможностях комплектации систем автоматики, таких как специальные приёмники дистанционного управления для паркингов с соответствующим программным обеспечением (для организации эксплуатирующей стороной удобной системой контроля въезда и своевременной оплаты), возможности удаленного получения информации о состоянии ворот, управлении воротами с помощью мобильных устройств и мн. др
		h2.wow(data-wow-offset='200') Для особых объектов
		.text.margin-32.wow(data-wow-offset='200')
			| Для объектов со сверхинтенсивной эксплуатацией или повышенными требованиями к скорости открывания / закрывания ворот, также как и для паркингов, в которых требуется соблюдение температурных режимов и не допускается скопление автомобилей перед воротами, мы рекомендуем использовать скоростные спиральные или секционные ворота Hörmann HS (High Speed). Этот тип ворот, не уступая значительно по основным эксплуатационным характеристикам подъёмно-секционным воротам, позволяет осуществлять открытие ворот со скоростью до 2,5 м/с.
		.text.padding-left-100.margin-72.wow(data-wow-offset='200')
			| Скоростные ворота Hörmann серийно оснащены предохранительной световой решёткой для максимальной безопасности эксплуатации и блоком управления с преобразователем частоты
			br
			br
			| Система SmartControl позволит эффективно планировать работы по техническому обслуживанию за счёт удалённого доступа к блоку управления ворот. Это обеспечит снижение затрат и времени простоя на сервисное обслуживание. Проконсультируйтесь со специалистами «Hörmann»
			br
			br
			| Для защиты дорогостоящих элементов скоростных ворот (напр., направляющих) от случайного повреждения при наезде автомобиля, компания «Hörmann» предлагает широкий выбор защитных барьеров, маркировочных столбиков, кожухов и др. приспособлений
		h2.wow(data-wow-offset='200') Подзаголовок
		.text.margin-72.wow(data-wow-offset='200')
			| Зачастую при проектировании и строительстве паркингов не остается свободного пространства в месте установки въездных ворот. В этом случае компания «Hörmann» рекомендует использовать специализированную модель рулонных ворот Hörmann TGT- компактная конструкция, разработанная специально для коллективных гаражей с очень плавным бесшумным ходом, повышенной интенсивностью и улучшенной геометрией наматывания полотна на вал.
		h2.wow(data-wow-offset='200') Подзаголовок
		.text.margin-72.wow(data-wow-offset='200')
			| В отельных случаях, когда к воротам въездной группы паркинга, помимо стандартных, предъявляются особые требования, связанные, например, с повышенной звукоизоляцией, особыми пожеланиями по внешнему виду или отдельными эксплуатационными характеристиками, специалисты компании «Hörmann» помогут Вам подобрать необходимый тип ворот. Для реализации Ваших особых задач мы готовы предложить такие типы ворот, как: подъемно-поворотные ворота для коллективных гаражей, откатные ворота, рулонные ворота и решётки, рулонные скоростные ворота, акустические скоростные ворота, гибкие скоростные ворота, спиральные скоростные ворота с узкими боковыми элементами и мн. др.
		h2.wow(data-wow-offset='200') Подзаголовок
		.text.margin-72.wow(data-wow-offset='200')
			| Оборудование для паркингов не ограничивается только въездными воротами. При подборе оборудования для коллективного гаража, просим Вас обратить пристальное внимание и на другие типы продукции «Hörmann»:
		.text.padding-left-100.margin-32.wow(data-wow-offset='200')
			| #[a(href="#") Въездная автоматика для ворот], установленных во внешних ограждениях территории объекта (откатные и распашные ворота)
			br
			br
			| #[a(href="#") Системы контроля въезда] и доступа на объект: автоматические шлагбаумы, болларды, парковочные комплексы платной парковки, защитные барьеры, въездные откатные ворота
			br
			br
			a(href="#") Откатные огнестойкие и дымозащитные ворота
			| Двери: #[a(href="#") многофункциональные], #[a(href="#") входные], #[a(href="#") внутренние], #[a(href="#") эвакуационные], #[a(href="#") маятниковые], #[a(href="#") противопожарные] и #[a(href="#") дымозащитные], #[a(href="#") из нержавеющей стали], #[a(href="#") звукоизоляционные], металлические, деревянные и мн. др.
		.text.margin-72.wow(data-wow-offset='200')
			| Обратитесь в компанию «Hörmann» для подготовки технического задания на подготовку проемов и интеграции оборудования в Ваш проект. Наши инженеры готовы подготовить для Вас необходимые чертежи, схемы электроподключения и оказать консультационную поддержку на всех этапах проработки технических решений.
	.tie.wow(data-wow-offset='200')
		.tie__row
			.tie__col
				a.tie__item(href="#")
					.title-text Пригласите инженера
					.text
						| Мы проведем замеры вашего объекта и подготовим рекомендаций по установке и подбору оборудования
			.tie__col
				a.tie__item(href="tel:8 800 555 69 87")
					.title-text 8 800 555 69 87
					.text
						| Позвоните на горячую линию Hörmann, чтобы задать вопрос или получить консультацию
			.tie__col
				a.tie__item(href="#")
					.title-text Сервис
					.text
						| Обратитесь в сервисный отдел Hörmann для обслуживания и ремонта оборудования.
	form.form.wow(data-wow-offset='200' action="./ajax/test.json" method="get" data-app="form")
		.form__box
			.title-text
				a(href="#") Свяжитесь с нами
			.form__row.form__row_width-33
				.form__col
					.form__input
						.form__label
							| Ваше имя
						.form__field
							input(type="text" name="name" data-validation={
								regex: ['^[a-zA-Zа-яА-Я\\s]+$', 'ig'],
								maxlength: 300,
							} required)
				.form__col
					.form__input
						.form__label
							| Компания
						.form__field
							input(type="text" name="text" data-validation={
								maxlength: 300
							} required)
				.form__col
					.form__input
						.form__label
							| Город
						.form__field
							input(type="text" name="city" data-validation={
								regex: ['^[a-zA-Zа-яА-Я\\s]+$', 'ig'],
								maxlength: 300,
							} required)
				.form__col
					.form__input
						.form__label
							| Телефон
						.form__field
							input(type="tel" placeholder="+7 (___) ___ __-__" data-app="mask" data-mask="+7 (999) 999 99-99" inputmode="text" name="tel" required)
				.form__col
					.form__input
						.form__label
							| Email
						.form__field
							input(type="email" name="email" data-validation={
								regex: ['^\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,6}\\b$', 'i'],
								maxlength: 254,
							} required)
				.form__col
					.form__input
						.form__label
							| Сайт компании (если есть)
						.form__field
							input(type="text" name="site" data-validation={
								maxlength: 300
							} required)
			.form__input
				.form__label
					| Сообщение
				.form__field
					textarea(name="subject" data-validation={
						maxlength: 2000,
					} required)
			.form__submit
				button.btn(type="submit")
					span Отправить
				.checkbox
					label
						input(type="checkbox" name="checkbox" required)
						i
						span Я ознакомлен и согласен с условиями сбора и обработки персональных данных в рамках #[a(href="#") Политики конфиденциальности]
