.container
	.breadcrumbs
		ul(itemscope itemtype="http://schema.org/BreadcrumbList")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Главная
				meta(itemprop="position" content="1")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Продукция
				meta(itemprop="position" content="2")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Гаражные ворота
				meta(itemprop="position" content="3")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/garazhnyye-vorota/")
					span(itemprop="name") Секционные ворота
				meta(itemprop="position" content="4")
	h1.h2.wow(data-wow-offset='200') Уравнительные платформы Hörmann
	.topic
		.topic__item.wow(data-wow-offset='200' style="background-image:url(./images/temp/108.jpg)")
			.subtext
				| Перегрузочные мосты Hörmann обеспечат ровный переход между полом кузова грузового автомобиля и погрузочной платформой. Как следствие упрощается работа сотрудников склада и водителей, сокращается время погрузки и разгрузки, уменьшается риск повреждения продукции. Изучив задачу и условия, мы предложим оптимальный вариант платформы для вашей ситуации
	h2.wow(data-wow-offset='200') Преимущества
	.slider.slider_width-488.wow(data-wow-offset='200' data-app="slider-item")
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.slider__item
						.slider__item__image
							img(src="./images/temp/109.jpg" alt="")
						.title-text
							| Один объект - один поставщик
						.slider__item__text
							| Hörmann производит промышленные секционные, рулонные, скоростные ворота, автоматику, перегрузочное оборудование, герметизаторы, двери. Компания обеспечивает согласованную и слаженную работу продукции. Например, управлять промышленными воротами и уравнительной платформой можно с помощью одного комбинированного блока управления.
				.swiper-slide
					.slider__item
						.slider__item__image
							img(src="./images/temp/110.jpg" alt="")
						.title-text
							| Безопасность
						.slider__item__text
							| При аварийной остановке перекос платформы исключен. Техника и грузы защищены от падения. От производственных травм персонал защищает противоскользящее покрытие, панели для защиты ног от защемления, сигнальная маркировка и подпорки для проведения тех. обслуживания.
				.swiper-slide
					.slider__item
						.slider__item__image
							img(src="./images/temp/109.jpg" alt="")
						.title-text
							| Долговечность
						.slider__item__text
							| Условие долгого срока службы уравнительных платформ - надежное соединение с корпусом здания. В случае платформ Hörmann “умные” монтажные детали подсказывают правильную высоту заливки бетона или оптимальные места сварочных швов.
		.slider__pager
	h2.wow(data-wow-offset='200') Линейка
	.ruler
		.ruler__item.wow(data-wow-offset='200')
			.ruler__item__content
				.ruler__item__title
					| При однородном автопарке транспортных средств и незначительной разнице по высоте с полом в цеху или на складе
				.ruler__item__list
					ol
						li Механическая уравнительная платформа MLS с откидной аппарелью
						li Механическая уравнительная платформа MRS с откидной аппарелью
				.ruler__item__subtitle
					| Выдерживают нагрузку до 60 кН.
				.ruler__item__text
					| Поверхность защищена от коррозии. По умолчанию — пескоструйная обработка и покрытие 2-компонентным полиуретановым лаком. По запросу, напр., если платформа устанавливается снаружи здания, поверхность может быть оцинкована.
					br
					br
					| Безопасность персонала обеспечивают противоскользящее покрытие, панели для защиты ног, сигнальная маркировка, подпорки для проведения технического обслуживания.
			.ruler__item__image
				img(src="./images/temp/111.jpg" alt="")
		.ruler__item.wow(data-wow-offset='200')
			.ruler__item__image.ruler__item__image--left
				img(src="./images/temp/112.jpg" alt="")
			.ruler__item__content
				.ruler__item__title
					| При значительной разнице по высоте относительно пола помещения, больших расстояниях до автомобилей и в качестве основания для шлюз-тамбуров
				.ruler__item__list
					ol
						li Гидравлические перегрузочные мосты HLS, HLS2, HTL2
						li Гидравлические погрузочные платформы HRS, HRT
				.ruler__item__subtitle
					| Выдерживают нагрузку — в зависимости от модели — от 60 кН до 180 кН.
				.ruler__item__text
					| Гидравлическая система с двумя цилиндрами. При аварийной остановке (напр., откат грузового автомобиля) срабатывают одновременно, что исключает перекос платформы.
					br
					br
					| Удобный блок управления. Платформы с откидной аппарелью управляются с помощью одной клавиши. С выдвижной — управление платформой и аппарелью происходит независимо друг от друга. Так обеспечивается точное позиционирование как платформы, так и аппарели.
					br
					br
					| Безопасность персонала обеспечивают противоскользящее покрытие, панели для защиты ног, сигнальная маркировка, подпорки для проведения технического обслуживания.
		.ruler__item.wow(data-wow-offset='200')
			.ruler__item__content
				.ruler__item__title
					| Для автомобилей различных типов на одной погрузочной платформе
				.ruler__item__list
					ol
						li Гидравлический перегрузочный мост HTLV3 для грузовых автомобилей и автомобилей малой грузоподъемности
						li Гидравлический перегрузочный мост и подъемная платформа с рычагами ножничного типа для погрузки и разгрузки на уровне погрузочной платформы, а также для подъема и опускания товаров
			.ruler__item__image
				img(src="./images/temp/113.jpg" alt="")
	.booklet.wow(data-wow-offset='200')
		.booklet__row
			.booklet__col
				.booklet__item
					.booklet__item__head
						.booklet__item__icon
							+svg('pdf-2')
						.booklet__item__content
							.booklet__item__title
								| Рекламный буклет
							.booklet__item__text
								| Перегрузочное оборудование
							.booklet__item__desc
								.booklet__item__art
									| Арт. R7090216
								.booklet__item__date
									| 26/10/2020
					.booklet__item__bottom
						a.btn(href="#")
							span Скачать
						.booklet__item__size
							| 1.78 МБ
			.booklet__col
				.booklet__item
					.booklet__item__head
						.booklet__item__icon
							+svg('pdf-2')
						.booklet__item__content
							.booklet__item__title
								| Рекламный буклет
							.booklet__item__text
								| Перегрузочное оборудование
							.booklet__item__desc
								.booklet__item__art
									| Арт. R7090216
								.booklet__item__date
									| 26/10/2020
					.booklet__item__bottom
						a.btn(href="#")
							span Скачать
						.booklet__item__size
							| 1.78 МБ
			.booklet__col
				.booklet__item
					.booklet__item__head
						.booklet__item__icon
							+svg('pdf-2')
						.booklet__item__content
							.booklet__item__title
								| Рекламный буклет
							.booklet__item__text
								| Перегрузочное оборудование
							.booklet__item__desc
								.booklet__item__art
									| Арт. R7090216
								.booklet__item__date
									| 26/10/2020
					.booklet__item__bottom
						a.btn(href="#")
							span Скачать
						.booklet__item__size
							| 1.78 МБ
