.container
	.breadcrumbs
		ul(itemscope itemtype="http://schema.org/BreadcrumbList")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Главная
				meta(itemprop="position" content="1")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/portfolio/")
					span(itemprop="name") Портфолио
				meta(itemprop="position" content="2")
	.portfolio
		h1.h2.wow(data-wow-offset='200') Портфолио

		section.is-section.wow(data-wow-offset='200')
			.wrapper.wrapper--md
				.is-tabs.is-tabs__nav.left(data-is='tabs-nav' data-tab-body='tabs-body-b')
					span.is-tabs__link.is-link(tabindex='0' role='button')
						| Загородное строительство
					span.is-tabs__link.is-link(tabindex='0' role='button')
						| Объектное строительство
			.is-tabs.is-tabs__container.tabs-body-b
				.is-tabs__wrapper
					.is-tabs__tab
						.port-tiles.wow(data-wow-offset='200')
							a.port-tile(href="#")
								.pt-img
									img(src="./images/temp/70.jpg")
									span.b-label.state-white Паркинг
								.pt-txt
									p Сервис Центр VOLVO Западный
							a.port-tile(href="#")
								.pt-img
									img(src="./images/temp/72.jpg")
									span.b-label.state-white Административные
								.pt-txt
									p Сервис Центр VOLVO Западный
							a.port-tile(href="#")
								.pt-img
									img(src="./images/temp/73.jpg")
									span.b-label.state-white Паркинг
								.pt-txt
									p Коттедж в Московской области
							a.port-tile(href="#")
								.pt-img
									img(src="./images/temp/70.jpg")
									span.b-label.state-white Административные
								.pt-txt
									p Сервис Центр VOLVO Западный
							a.port-tile(href="#")
								.pt-img
									img(src="./images/temp/72.jpg")
									span.b-label.state-white Паркинг
								.pt-txt
									p Линолеумный завод
							a.port-tile(href="#")
								.pt-img
									img(src="./images/temp/73.jpg")
									span.b-label.state-white Логистика
								.pt-txt
									p Гараж в стиле Лофт
							a.port-tile(href="#")
								.pt-img
									img(src="./images/temp/70.jpg")
									span.b-label.state-white Паркинг
								.pt-txt
									p Сервис Центр VOLVO Западный
					.is-tabs__tab
						.port-tiles.wow(data-wow-offset='200')
							a.port-tile(href="#")
								.pt-img
									img(src="./images/temp/70.jpg")
									span.b-label.state-white Паркинг
								.pt-txt
									p Сервис Центр VOLVO Западный
							a.port-tile(href="#")
								.pt-img
									img(src="./images/temp/72.jpg")
									span.b-label.state-white Административные
								.pt-txt
									p Сервис Центр VOLVO Западный
							a.port-tile(href="#")
								.pt-img
									img(src="./images/temp/73.jpg")
									span.b-label.state-white Паркинг
								.pt-txt
									p Коттедж в Московской области
							a.port-tile(href="#")
								.pt-img
									img(src="./images/temp/70.jpg")
									span.b-label.state-white Административные
								.pt-txt
									p Сервис Центр VOLVO Западный
							a.port-tile(href="#")
								.pt-img
									img(src="./images/temp/72.jpg")
									span.b-label.state-white Паркинг
								.pt-txt
									p Линолеумный завод
							a.port-tile(href="#")
								.pt-img
									img(src="./images/temp/73.jpg")
									span.b-label.state-white Логистика
								.pt-txt
									p Гараж в стиле Лофт
							a.port-tile(href="#")
								.pt-img
									img(src="./images/temp/70.jpg")
									span.b-label.state-white Паркинг
								.pt-txt
									p Сервис Центр VOLVO Западный




