.container
	.breadcrumbs
		ul(itemscope itemtype="http://schema.org/BreadcrumbList")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Главная
				meta(itemprop="position" content="1")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Портфолио
				meta(itemprop="position" content="2")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/servis-tsentr-volvo-zapadnyy/")
					span(itemprop="name") Сервис Центр VOLVO Западный
				meta(itemprop="position" content="3")
	h1.h2.wow(data-wow-offset='200') Сервис Центр VOLVO Западный
	.term.wow(data-wow-offset='200')
		.term__item
			span Город
			| Смоленск
		.term__item
			span Сроки реализации
			| Апрель – май 2018
	.text.width-605.margin-72.wow(data-wow-offset='200')
		| Краткое текстовое описание объекта, сферы деятельности, для чего он предназначен, чем занимается... Техцентр обслуживания автомобилей VOLVO занимается ремонтом, мойкой, шиномонтажом грузовых автомобилей.
	.slider.margin-72.wow(data-wow-offset='200' data-app="slider-images")
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.slider__img
						img(src="./images/temp/43.jpg" alt="")
				.swiper-slide
					.slider__img
						img(src="./images/temp/44.jpg" alt="")
				.swiper-slide
					.slider__img
						img(src="./images/temp/45.jpg" alt="")
				.swiper-slide
					.slider__img
						img(src="./images/temp/43.jpg" alt="")
				.swiper-slide
					.slider__img
						img(src="./images/temp/44.jpg" alt="")
				.swiper-slide
					.slider__img
						img(src="./images/temp/45.jpg" alt="")
		.slider__pager
	.width-605
		.title-text.wow(data-wow-offset='200')
			| Оборудование
		.text-list.margin-72.wow(data-wow-offset='200')
			ul
				li • Ворота SPU F42 с панорамными панелями, с калитками без порога, с автоматикой WA 400 A445
				li • Двери ZK для бытовых помещений (кафе, сан узлы)
				li • Калитка без порога для беспрепятственного прохода людей\перемещения больших авто колес\провоза оборудования
				li • Рамы остекления – для дополнительного естественного освещения
				li • Антикоррозионный пакет для ворот на мойке
		.title-text.wow(data-wow-offset='200')
			| Особенности
		.text.margin-72.wow(data-wow-offset='200')
			| Для проезда специализированной лесозаготовительной крупной техники установлены наружные гибкие скоростные ворота размером 9600x5600 мм. Подобное решение является уникальным с учетом размеров проема, скорости открывания, интенсивности эксплуатации, среды применения (высокая запылённость деревообрабатывающего предприятия), ветровых нагрузок и климатических условий.
			br
			br
			| Рулонные ворота и секционные ворота интегрированы в технологический процесс заказчика и управляются контроллером конвейера, являясь частью единой технологической системы. Алгоритм управления и логика работы прорабатывалась совместно с инженерами заказчика.
	.items.wow(data-wow-offset='200')
		.items__row.items__row_width-25
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
					.subtext
						| Ворота SPU F42 с панорамными панелями
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
					.subtext
						| Двери ZK для бытовых помещений
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
					.subtext
						| Калитка без порога
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
					.subtext
						| Название товара
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
					.subtext
						| Название товара
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
					.subtext
						| Название товара
	.check.wow(data-wow-offset='200')
		.check__content
			.check__title
				.title-text
					| Узнать стоимость подобного проекта
				.subtext
					| Какой у вас объект?
			.check__pick
				.radio
					label
						input(type="radio" name="check" checked)
						i
						span Промышленный
				.radio
					label
						input(type="radio" name="check" checked)
						i
						span Парковка
				.radio
					label
						input(type="radio" name="check" checked)
						i
						span Склад
				.radio
					label
						input(type="radio" name="check" checked)
						i
						span Жилой
				.radio
					label
						input(type="radio" name="check" checked)
						i
						span Мойка
				.radio
					label
						input(type="radio" name="check" checked)
						i
						span Другое
				a.btn(href="#")
					span Продолжить
		.check__image
			img(src="./images/temp/57.jpg" alt="")
	h2.wow(data-wow-offset='200') Другие проекты
	.items.wow(data-wow-offset='200')
		.items__row
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
					.title-text
						| Административное здание при складеы
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
					.title-text
						| Линолеумный завод
			.items__col
				a.items__item(href="#")
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
					.title-text
						| Название объекта
