.container
	.breadcrumbs
		ul(itemscope itemtype="http://schema.org/BreadcrumbList")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Главная
				meta(itemprop="position" content="1")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/politika-konfidentsialnosti/")
					span(itemprop="name") Политика конфиденциальности
				meta(itemprop="position" content="2")
	.width-700
		h1.h2.wow(data-wow-offset='200') Политика конфиденциальности
		.text.margin-32.wow(data-wow-offset='200')
			| г.  Санкт-Петербург«01» июля 2017 г.
		.title-text.margin-0.wow(data-wow-offset='200') I. Общие положения
		.text.margin-24.wow(data-wow-offset='200')
			| Настоящие Положение о политике конфиденциальности (далее - Положение) является официальным документом ООО «Хёрманн Руссия», расположенного по адресу: отделение Бадаевское, д. 5, лит. А, пос. Шушары, г. Санкт-Петербург 196626 (далее - «Компания»), и определяет порядок обработки и защиты информации о физических лицах (далее - Пользователи), пользующихся сервисами, информацией, услугами, и продуктами интернет-магазина, расположенного на доменном имени www.hoermann.ru (далее - Сайт).
			br
			| Соблюдение конфиденциальности важно для Компании, ведь целью данной Политики конфиденциальности является обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну, от несанкционированного доступа и разглашения.
			br
			| Мы разработали Политику Конфиденциальности, которая описывает, как мы осуществляем обработку персональных данных - любые действия (операции) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
			br
			| Отношения, связанные с обработкой персональных данных и информации о пользователях Сайта, регулируются настоящим Положением, иными официальными документами Оператора и действующим законодательством РФ.
			br
			| Обработка персональных данных осуществляется нами на законной и справедливой основе, действуя разумно и добросовестно и на основе принципов:
			br
			| - законности целей и способов обработки персональных данных;
			br
			| - соответствия целей обработки персональных данных целям, заранее определенным и заявленным при сборе персональных данных, а также полномочиям Компании;
			br
			| - соответствия объема и характера обрабатываемых персональных данных, способов обработки персональных данных целям обработки персональных данных
			br
			| Настоящая Политика Конфиденциальности регулирует любой вид обработки персональных данных и информации личного характера (любой информации, позволяющей установить личность, и любой иной информации, связанной с этим) о физических лицах, которые являются потребителями продукции или услуг Компании.
			br
			| Настоящая Политика распространяется на обработку личных, персональных данных, собранных любыми средствами, как активными, так и пассивными, как через Интернет, так и без его использования, от лиц, находящихся в любой точке мира.
		.title-text.margin-0.wow(data-wow-offset='200')
			| II. Сбор персональных данных
		.text.margin-24.wow(data-wow-offset='200')
			| Целью обработки персональных данных является выполнения обязательств Оператора перед Пользователями в отношении использования Сайта и его сервисов.
			br
			| Обработка персональных данных пользователей осуществляется с согласия субъекта персональных данных на обработку его персональных данных.
			br
			| Под персональными данными понимается любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных) и которая может быть использована для идентификации определенного лица либо связи с ним.
			br
			| Мы можем запросить у Вас персональные данные в любой момент, когда Вы связываетесь с Компанией. Компания может использовать такие данные в соответствии с настоящей Политикой Конфиденциальности. Она также может совмещать такую информацию с иной информацией для целей предоставления и улучшения своих продуктов, услуг, информационного наполнения (контента) и коммуникаций.
			br
			| Ниже приведены некоторые примеры типов персональных данных, которые Компания может собирать, и как мы можем использовать такую информацию.
			br
			| Мы можем собирать различные данные/информацию, включая:
			br
			| - имя и фамилию,
			br
			| - почтовый адрес;
			br
			| - номер телефона;
			br
			| - адрес электронной почты;
			br
			| Персональные данные могут также включать в себя дополнительно предоставляемые Пользователями по запросу Оператора в целях исполнения Оператором обязательств перед Пользователями. Оператор вправе, в частности, запросить у Пользователя копию документа, удостоверяющего личность, либо иного документа, содержащего имя, фамилию, фотографию Пользователя, а также иные дополнительные данные, которые, по усмотрению Оператора, будут являться необходимыми и достаточными для идентификации такого Пользователя и позволят исключить злоупотребления и нарушения прав третьих лиц.
			br
			| Когда Вы привлекаете к нашим мероприятиям и активностям других лиц или приглашаете их к коммуникациям с нами, Компания может собирать предоставляемые Вами персональные данных об этих лицах, такую как: имя, фамилия, почтовый адрес, адрес электронной почты и номер телефона.
			br
			| При обработке персональных данных нами обеспечивается точность персональных данных, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки персональных данных.
		.title-text.margin-0.wow(data-wow-offset='200')
			| III. Хранение и использование персональных данных
		.text.margin-24.wow(data-wow-offset='200')
			| Персональные данные Пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.
			br
			| Собираемые нами персональные данные позволяют направлять Вам уведомления о продуктах и специальных предложениях. Они также помогает нам улучшать наши услуги, контент и коммуникации.
			br
			| Время от времени мы можем использовать Ваши персональные данные для отправки важных уведомлений, содержащих информацию об изменениях наших положений, условий и политик, а также подтверждающих размещенные Вами заказы. Поскольку такая информация важна для Ваших взаимоотношений с Компанией, Вы не можете отказаться от получения таких сообщений.
			br
			| Мы также можем использовать персональную информацию для внутренних целей, таких как: проведение аудита, анализ данных и различных исследований в целях улучшения продуктов и услуг Компании, а также взаимодействие с потребителями.
		.title-text.margin-0.wow(data-wow-offset='200')
			| IV. Передача персональных данных
		.text.margin-24.wow(data-wow-offset='200')
			| Персональные данные Пользователей не передаются каким-либо третьим лицам, за исключением случаев, прямо предусмотренных настоящими Правилами.
			br
			| Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств
			br
			| При указании пользователя или при наличии согласия пользователя возможна передача персональных данных Пользователя третьим лицам-контрагентам Оператора с условием принятия такими контрагентами обязательств по обеспечению конфиденциальности полученной информации.
			br
			| Персональные данные Пользователя могут быть переданы по запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ.
			br
			| Оператор осуществляет блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
			br
			| Компании может быть необходимо — в соответствии с законом, судебным порядком, в судебном разбирательстве и/или на основании публичных запросов или запросов от государственных органов на территории или вне территории страны Вашего пребывания — раскрыть Ваши персональные данные. Мы также можем раскрывать персональные данные/информацию о Вас, если мы определим, что такое раскрытие необходимо или уместно в целях национальной безопасности, поддержания правопорядка или иных общественно важных случаях.
		.title-text.margin-0.wow(data-wow-offset='200')
			| V. Уничтожение персональных данных
		.text.margin-24.wow(data-wow-offset='200')
			| Персональные данные пользователя уничтожаются при:
			br
			| - удалении Оператором информации, размещаемой Пользователем, а также персональной страницы Пользователя в случаях, установленных договором купли продажи (оферта);
			br
			| - при отзыве субъектом персональных данных согласия на обработку персональных данных.
			br
			| Веб-сайт Компании может использовать идентификационные файлы cookies. Такие технологии помогают нам лучше понимать поведение пользователей, сообщают нам, какие разделы нашего сайта были посещены пользователями, и измеряют эффективность рекламы и сетевых поисков. Мы рассматриваем информацию, собираемую файлами cookies и иными технологиями как информацию, не являющуюся персональной.
			br
			| Вы можете отключить cookies в настройках используемого Вами веб-браузера или мобильного устройства. Следует учесть, что некоторые функции веб-сайта могут стать недоступными после отключения cookies.
		.title-text.margin-0.wow(data-wow-offset='200')
			| VI. Защита персональных данных
		.text.margin-24.wow(data-wow-offset='200')
			| Компания предпринимает меры предосторожности - включая правовые, организационные, административные, технические и физические - для обеспечения защиты Ваших персональных данных в соответствии со ст. 19 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных» в целях обеспечения защиты персональных данных Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
			br
			| Взаимодействуя с Компанией, Вы можете легко поддерживать свои персональные данные и информацию в актуальном состоянии. Мы будем хранить Ваши персональные данные и информацию в течение срока, необходимого для выполнения целей, описываемых в настоящей Политике Конфиденциальности, за исключением случаев, когда более длительный период хранения данных и информации необходим в соответствии с законодательством либо разрешён им.
			br
			| Мы не собираем персональные данные о несовершеннолетних. Если нам станет известно о том, что мы получили персональные данные о несовершеннолетнем, мы предпримем меры для удаления такой информации в максимально короткий срок.
			br
			| Мы настоятельно рекомендуем родителям и иным лицам, под чьим присмотром находятся несовершеннолетние (законные представители - родители, усыновители или попечители), контролировать использование несовершеннолетними веб-сайтов.
			br
			| Для того чтобы убедиться, что Ваши персональные данные находятся в безопасности, мы доводим нормы соблюдения конфиденциальности и безопасности до работников Компании и строго следим за исполнением мер соблюдения конфиденциальности внутри Компании.
			br
			| Если у вас возникнут вопросы в отношении Политики Конфиденциальности Компании или обработки данных Компанией, Вы можете связаться с нами по контактам для обратной связи.
		.title-text.margin-0.wow(data-wow-offset='200')
			| VII. Обращения пользователей
		.text.margin-56.wow(data-wow-offset='200')
			| К настоящей Политике конфиденциальности и отношениям между Пользователем и Оператором применяется действующее законодательство РФ.
			br
			| Пользователи вправе направлять Оператору свои запросы, в том числе запросы относительно использования их персональных данных, направления отзыва согласия на обработку персональных данных в письменной форме по адресу, указанному разделе Общие положения настоящего положения, или в форме электронного документа, подписанного квалифицированной электронной подписью в соответствии с законодательством РФ, и отправленного по средствам формы обратной связи.
			br
			| Оператор обязуется рассмотреть и направить ответ на поступивший запрос Пользователя в течение 30 дней с момента поступления обращения.
			br
			| Во всем остальном, что не отражено напрямую в Политике Конфиденциальности, Компания обязуется руководствоваться нормами и положениями Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных»
			br
			| Посетитель сайта Компании, предоставляющий свои персональные данные и информацию, тем самым соглашается с положениями данной Политики Конфиденциальности.
			br
			| Компания оставляет за собой право вносить любые изменения в Политику в любое время по своему усмотрению с целью дальнейшего совершенствования системы защиты от несанкционированного доступа к сообщаемым Пользователями персональным данным без согласия Пользователя. Когда мы вносим существенные изменения в Политику Конфиденциальности, на нашем сайте размещается соответствующее уведомление вместе с обновлённой версией Политики Конфиденциальности.
			br
			| Действие настоящей Политики не распространяется на действия и интернет-ресурсы третьих лиц.
			br
			| ООО «Хёрманн Руссия» вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
			br
			| Новая Политика конфиденциальности вступает в силу с момента ее размещения на сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.
			br
			| Действующая Политика конфиденциальности размещена на странице по адресу www.hoermann.ru и партнерских сайтах с поддоменом hoermannpartner.ru
		.text.color-red.margin-24.wow(data-wow-offset='200')
			| Обновлено «01» июля 2017 г.
		.title-text.margin-0.wow(data-wow-offset='200')
			| VIII. Webtrekk
		.text.wow(data-wow-offset='200')
			| Для статистического анализа использования наших сайтов, а также оптимизации наших предложений мы пользуемся технологиями «Webtrekk GmbH», Robert-Koch-Platz 4, 10115 Berlin (Берлин, Германия) (www.webtrekk.com).
			br
			br
			| В рамках использования этих сайтов осуществляются сбор и анализ сведений, передаваемых Вашим браузером. Это происходит при помощи технологии cookie и так называемых пикселей отслеживания, встроенных на каждом сайте. При этом регистрируются следующие данные: запрос (имя запрошенного файла), тип и версия браузера, язык браузера, используемая операционная система, внутреннее разрешение окна браузера, разрешение дисплея, активация JavaScript, Java вкл/выкл, файлы cookie вкл/выкл, глубина цвета, URL перехода, IP-адрес (регистрируется исключительно анонимизированно и удаляется сразу после его использования), время доступа, щелчки мышью.
			br
			br
			| Прямой доступ к персональным данным полностью исключен. Собранные таким образом данные используются для составления анонимных пользовательских профилей, создающих основу для веб-аналитики. Данные, полученные с помощью технологий Webtrekk, без специального разрешения конкретного лица не могут использоваться для персональной идентификации посетителя сайта и ни в коем случае не сопоставляются с персональными данными носителя ника. Хотите получить информацию о собранных о Вас данных? Тогда свяжитесь с нами, указав Ваш индивидуальный анонимизированный идентификатор Webtrekk-сookie-ID, который Вы можете увидеть в браузере с помощью следующей ссылки: отобразить здесь Ваш идентификатор Webtrekk-сookie-ID (EID).
			br
			br
			| Пользователь может в любое время отказаться от дальнейшего сбора и сохранения данных через Webtrekk. Для этого необходимо перейти по следующей ссылке. При подтверждении ссылки на Ваш цифровой носитель устанавливается так называемый opt-out cookie (файл отказа). Данный файл cookie действителен в течение пяти лет. Просим обратить внимание, что при удалении всех cookie-файлов на Вашем компьютере opt-out cookie также будет удален, т. е. если и далее не желаете участвовать в анонимизированном сборе данных через Webtrekk, необходимо будет снова установить opt-out cookie. Opt-out cookie устанавливается для каждого браузера и компьютера отдельно. Если Вы посещаете наши сайты с домашнего и рабочего компьютеров и/или пользуетесь различными браузерами, Вам следует активировать opt-out cookie на каждом отдельном компьютере и для каждого отдельного браузера.
