.container
	h1.h2 Карта сайта
	.text-list
		ul
			li
				a(href="homepage.html" target="_blank") Главная страница
				ul
					li
						a(href="products.html" target="_blank") Продукция Hörmann
						ul
							li
								a(href="garage.html" target="_blank") Гаражные ворота
								ul
									li
										a(href="industrial-vorota.html" target="_blank") Нужны качественные ворота для промышленного объекта?
										ul
											li: a(href="vorota-fireproof.html" target="_blank") Огнестойкие ворота
									li: a(href="industrial-sectional-vorota.html" target="_blank") Промышленные секционные ворота
									li
										a(href="section-vorota-2.html" target="_blank") Секционные ворота
										ul
											li: a(href="#" target="_blank") Калькулятор (-)
											li: a(href="vorota-item-3.html" target="_blank") LPU 67 Thermo
					li: a(href="private.html" target="_blank") Частный
					li
						a(href="business.html" target="_blank") Бизнес
						ul
							li
								a(href="solutions.html" target="_blank") Решения
								ul
									li: a(href="parking.html" target="_blank") Паркинг
							li: a(href="service.html" target="_blank") Сервис
					li
						a(href="architect.html" target="_blank") Архитектор
						ul
							li: a(href="architect-program.html" target="_blank") Программа для архитекторов
					li: a(href="about.html" target="_blank") О компании
					li: a(href="press.html" target="_blank") Прессе
					li
						a(href="news.html" target="_blank") Новости и прес-релизы
						ul
							li: a(href="news-detail.html" target="_blank") Новости и прес-релизы детальная
					li
						a(href="advises.html" target="_blank") Статьи и советы
						ul
							li: a(href="adv-detail.html" target="_blank") Статьи и советы детальная
					li
						a(href="portfolio.html" target="_blank") Портфолио
						ul
							li: a(href="portfolio-detail.html" target="_blank") Сервис Центр VOLVO Западный
					li: a(href="dealers.html" target="_blank") Дилерам
					li
						a(href="media.html" target="_blank") Медиа
						ul
							li: a(href="videos.html" target="_blank") Видео
							li: a(href="documentation.html" target="_blank") Документация
							li: a(href="magazine-portal.html" target="_blank") Журнал Portal
					li
						a(href="offers.html" target="_blank") Акции и специальные предложения
						ul
							li: a(href="news-detail.html" target="_blank") Акции и специальные предложения детальная
					li: a(href="contacts.html" target="_blank") Контакты
					li: a(href="search.html" target="_blank") Поиск
					li: a(href="privacy.html" target="_blank") Политика конфиденциальности
					li: a(href="404.html" target="_blank") 404
					li: a(href="output.html" target="_blank") Выходные данные
					li Формы
						ul
							li: a(href="calculate-cost.html" target="_blank") Рассчитать стоимость
							li: a(href="calculate-cost-2.html" target="_blank") Рассчитать стоимость 2
							li: a(href="ask.html" target="_blank") Задать вопрос
					li: a(href="styles.html" target="_blank") Стили
					li: a(href="platform.html" target="_blank") Уравнительные платформы Hörmann
