.page-index.margin-120
	.index-hero.wow
		.index-hero__container(data-is='index-slider')
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.index-hero__item
							.index-hero__image.swiper-lazy(data-background='./images/temp/102.jpg')
							.index-hero__content-wrapper
								.index-hero__content.wrapper.wrapper--md
									.index-hero__content-inner
										.b-label Акция до 4 апреля
										h1.h1.index-hero__title Заголовок первого#[br]уровня H1
										p.index-hero__small-text Катарсис раскладывает на элементы трагический дедуктивный метод, изменяя привычную реальность.
						.swiper-lazy-preloader
					.swiper-slide
						.index-hero__item
							.index-hero__image.swiper-lazy(data-background='./images/temp/102.jpg')
							.index-hero__content-wrapper
								.index-hero__content.wrapper.wrapper--md
									.index-hero__content-inner
										.b-label Акция до 4 апреля
										h1.h1.index-hero__title Заголовок первого#[br]уровня H1
										p.index-hero__small-text Катарсис раскладывает на элементы трагический дедуктивный метод, изменяя привычную реальность.
						.swiper-lazy-preloader
					.swiper-slide
						.index-hero__item
							.index-hero__image.swiper-lazy(data-background='./images/temp/102.jpg')
							.index-hero__content-wrapper
								.index-hero__content.wrapper.wrapper--md
									.index-hero__content-inner
										.b-label Акция до 4 апреля
										h1.h1.index-hero__title Заголовок первого#[br]уровня H1
										p.index-hero__small-text Катарсис раскладывает на элементы трагический дедуктивный метод, изменяя привычную реальность.
						.swiper-lazy-preloader
					.swiper-slide
						.index-hero__item
							.index-hero__image.swiper-lazy(data-background='./images/temp/102.jpg')
							.index-hero__content-wrapper
								.index-hero__content.wrapper.wrapper--md
									.index-hero__content-inner
										.b-label Акция до 4 апреля
										h1.h1.index-hero__title Заголовок первого#[br]уровня H1
										p.index-hero__small-text Катарсис раскладывает на элементы трагический дедуктивный метод, изменяя привычную реальность.
						.swiper-lazy-preloader
				.swiper-pagination
				.b-arr-nav.index-hero__nav
					.b-arr-nav__btn.b-arr-nav__btn--prev.js_btn-prev
						+svg('arrow')
					.b-arr-nav__btn.b-arr-nav__btn--next.js_btn-next
						+svg('arrow')
.container
	h2.wow(data-wow-offset='200') Заголовок H2
	.text.width-700.margin-120
		| Краткий текст о программе... С помощью Программы для архитекторов www.hörmann.de Вы сможете легко и удобно, всего в несколько кликов составлять индивидуальные описания изделий, а также использовать чертежи продукции www.hörmann.de. Благодаря современному и удобному для пользователя графическому интерфейсу планирование изделий Hörmann стало еще проще.
	.title-row
		h2.wow(data-wow-offset='200') Галерея
		.link-icon.wow(data-wow-offset='200')
			a(href="#")
				+svg('blocks')
				span Весь каталог
	.slider.hidden-mobile.wow(data-wow-offset='200' data-app="slider-list")
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.slider__row
						.slider__col.slider__col_width-73
							a.slider__pic(href="#")
								.slider__pic__image(style="background-image:url(./images/temp/68.jpg)")
								.slider__pic__content
									.title-text
										| Перегрузочная техника
						.slider__col.slider__col_width-35
							a.slider__pic(href="#")
								.slider__pic__image(style="background-image:url(./images/temp/66.jpg)")
								.slider__pic__content
									.title-text
										| Секционные ворота
							a.slider__pic(href="#")
								.slider__pic__image(style="background-image:url(./images/temp/67.jpg)")
								.slider__pic__content
									.title-text
										| Скоростные ворота
				.swiper-slide
					.slider__row
						.slider__col.slider__col_width-73
							a.slider__pic(href="#")
								.slider__pic__image(style="background-image:url(./images/temp/97.jpg)")
								.slider__pic__content
									.title-text
										| Гаражные секционные ворота
						.slider__col.slider__col_width-35
							a.slider__pic(href="#")
								.slider__pic__image(style="background-image:url(./images/temp/98.jpg)")
								.slider__pic__content
									.title-text
										| Входные двери Thermo 65
							a.slider__pic(href="#")
								.slider__pic__image(style="background-image:url(./images/temp/99.jpg)")
								.slider__pic__content
									.title-text
										| Входные двери Thermo 46
		.slider__pager
	.slider.hidden-desktop.wow(data-wow-offset='200' data-app="slider-list")
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					a.slider__pic(href="#")
						.slider__pic__image(style="background-image:url(./images/temp/68.jpg)")
						.slider__pic__content
							.title-text
								| Перегрузочная техника
				.swiper-slide
					a.slider__pic(href="#")
						.slider__pic__image(style="background-image:url(./images/temp/66.jpg)")
						.slider__pic__content
							.title-text
								| Секционные ворота
				.swiper-slide
					a.slider__pic(href="#")
						.slider__pic__image(style="background-image:url(./images/temp/67.jpg)")
						.slider__pic__content
							.title-text
								| Скоростные ворота
				.swiper-slide
					a.slider__pic(href="#")
						.slider__pic__image(style="background-image:url(./images/temp/68.jpg)")
						.slider__pic__content
							.title-text
								| Перегрузочная техника
				.swiper-slide
					a.slider__pic(href="#")
						.slider__pic__image(style="background-image:url(./images/temp/66.jpg)")
						.slider__pic__content
							.title-text
								| Секционные ворота
				.swiper-slide
					a.slider__pic(href="#")
						.slider__pic__image(style="background-image:url(./images/temp/67.jpg)")
						.slider__pic__content
							.title-text
								| Скоростные ворота
		.slider__pager
.edge.edge_images.wow(data-app="edge" data-wow-offset="200")
	.edge__image
		img(src="./images/temp/37.jpg" alt="")
		img(src="./images/temp/38.jpg" alt="")
		img(src="./images/temp/39.jpg" alt="")
	.container
		.edge__box
			.edge__content
				h2 Вставка со слайдером справа
				.text
					| Hörmann — единственный производитель на международном рынке, предлагающий «из одних рук» все основные строительные элементы, которые изготавливаются на высокоспециализированных предприятиях в соответствии с новейшими техническими достижениями. Имея широкую торговую и сервисную сеть в Европе и представительства в Америке и Азии, Hörmann является надежным поставщиком высококачественных строительных конструкций.
				.link-arrow
					a(href="#") Ссылка дальше
			.edge__slider
				.edge__number
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.subtext
									| 01
							.swiper-slide
								.subtext
									| 02
							.swiper-slide
								.subtext
									| 03
				.edge__inner
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.edge__inner__row
									.edge__inner__img
										img(src="./images/temp/40.png" alt="")
									.edge__inner__content
										.subtext
											| Заголовок H4
										.text
											| Крупнейший немецкий концерн с мировой известностью. С 1935 года корпорация Hormann выпустила более 15 миллионов ворот
							.swiper-slide
								.edge__inner__row
									.edge__inner__img
										img(src="./images/temp/40.png" alt="")
									.edge__inner__content
										.subtext
											| Заголовок H4
										.text
											| Крупнейший немецкий концерн с мировой известностью. С 1935 года корпорация Hormann выпустила более 15 миллионов ворот
							.swiper-slide
								.edge__inner__row
									.edge__inner__img
										img(src="./images/temp/40.png" alt="")
									.edge__inner__content
										.subtext
											| Заголовок H4
										.text
											| Крупнейший немецкий концерн с мировой известностью. С 1935 года корпорация Hormann выпустила более 15 миллионов ворот
.container
	.title-row
		h2.wow(data-wow-offset='200') Интерактив
		.link-icon.wow(data-wow-offset='200')
			a(href="#")
				+svg('pin')
				span Иконка-ссылка
	.choice.wow(data-wow-offset='200' data-app="choice")
		.choice__list
			.choice__list__menu
				button.choice__list__menu__btn(type="button")
				ul
					li: a.is-active-mob(href="#" data-target="1") Промышленные ворота
					li: a(href="#" data-target="2") Специальные двери
					li: a(href="#" data-target="3") Приводы
					li: a(href="#" data-target="4") Контроль въезда
			.choice__item.is-active-mob(data-item="1")
				.subtext 1. Промышленные ворота
				.choice__item__text
					| Краткое описание УТП данной группы товаров
				.choice__item__drop
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
			.choice__item(data-item="2")
				.subtext 2. Специальные двери
				.choice__item__text
					| Краткое описание УТП данной группы товаров
				.choice__item__drop
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
			.choice__item(data-item="3")
				.subtext 3. Приводы
				.choice__item__text
					| Плавность, комфорт и безопасность
				.choice__item__drop
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
			.choice__item(data-item="4")
				.subtext 4. Контроль въезда
				.choice__item__text
					| Краткое описание УТП данной группы товаров
				.choice__item__drop
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
		.choice__image
			img(src="./images/temp/65.jpg" alt="")
			.choice__image__pin(style="top: 44%;left: 18%;" data-target="1")
				button.choice__image__pin__btn(type="button") 1
				.choice__image__info
					.subtext Приводы
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
			.choice__image__pin(style="top: 40%;left: 60%;" data-target="2")
				button.choice__image__pin__btn(type="button") 2
				.choice__image__info
					.subtext Приводы
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
			.choice__image__pin(style="top: 54%;left: 40%;" data-target="3")
				button.choice__image__pin__btn(type="button") 3
				.choice__image__info
					.subtext Приводы
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
			.choice__image__pin(style="top: 78%;left: 47%;" data-target="4")
				button.choice__image__pin__btn(type="button") 4
				.choice__image__info
					.subtext Приводы
					a(href="#") Приводы гаражных ворот
					a(href="#") Приводы откатных ворот
					a(href="#") Приводы для дверей
	a.banner.wow(href="#" data-wow-offset='200')
		.banner__content
			.banner__action
				| Акция до 31 декабря
			.title-text
				| Гаражные ворота от&nbsp;#[span 71900]&nbsp;рублей
		.banner__image
			img(src="./images/temp/14.jpg" alt="")
	.bitmap.bitmap_program.wow(data-wow-offset='200')
		.bitmap__image
			img(src="./images/temp/76.jpg" alt="")
		.bitmap__content
			.title-text
				| Заголовок третьего уровня
			.text
				| Краткий текст о программе... С помощью Программы для архитекторов Hörmann Вы сможете легко и удобно, всего в несколько кликов составлять индивидуальные описания изделий, а также использовать чертежи продукции Hörmann. Благодаря современному и удобному для пользователя графическому интерфейсу планирование изделий Hörmann стало еще проще.
			.link-arrow
				a(href="#") Подробнее о программе
	.bitmap.bitmap_img-left.wow(data-wow-offset='200')
		.bitmap__image
			img(src="./images/temp/100.jpg" alt="")
		.bitmap__content
			.title-text Услуги
			.text
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
				br
				br
				| Proin sodales pulvinar tempor. Cum sociis natoque penatibbendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	.bitmap.bitmap_sire.wow(data-wow-offset='200')
		.bitmap__content
			.title-text
				| Все от одного производителя
			.text
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
				br
				br
				| Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
		.bitmap__image
			img(src="./images/temp/84.jpg" alt="")
	a.banner.banner_offer.wow(href="#" data-wow-offset='200')
		.banner__content
			.banner__action
				| Акция до 1 августа
			.title-text
				| Второй тип баннера для акции
			.text
				| Выгодное предложение на внутренние, сверхпрочные двери ZK для дома и административных помещений.
		.banner__image
			img(src="./images/temp/103.jpg" alt="")
			.banner__image__price
				| 11 900 ₽
.advice.wow(data-wow-offset='200')
	.container
		.title-row
			h2 Список галерея
		.advice__list(data-app="slider-advice")
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						a.advice__list__item(href="#")
							.advice__list__item__image
								img(src="./images/temp/43.jpg" alt="")
							.subtext
								| #[span Изоляция гаража.] Чем выгодны для Вас гаражные ворота с теплоизоляцией?
					.swiper-slide
						a.advice__list__item(href="#")
							.advice__list__item__image
								img(src="./images/temp/44.jpg" alt="")
							.subtext
								| #[span Сравнение входных дверей.] Из каких материалов производятся входные двери?
					.swiper-slide
						a.advice__list__item(href="#")
							.advice__list__item__image
								img(src="./images/temp/45.jpg" alt="")
							.subtext
								| 5 причин, по которым монтаж гаражных ворот лучше поручить профессионалам
.container
	.bitmap.bitmap_row.wow(data-wow-offset='200')
		.bitmap__col
			.bitmap__item
				.bitmap__item__image
					img(src="./images/temp/81.jpg" alt="")
				.h2 Заголовок
				.subtext.margin-16
					| Текст о ценностях... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
				.text
					| Перспективное развитие нашей фирмы началось в 1960-е годы с производства компактных, открывающихся вертикально секционных ворот для гаражей, промышленных зданий и мастерских. Ассортимент продукции с тех пор постоянно расширялся. Сегодня помимо известных классических моделей он включает в себя также рулонные, откатные и скоростные ворота, входные и внутренние двери, дверные коробки, приводы ворот и дверей
		.bitmap__col
			.bitmap__item
				.bitmap__item__image
					img(src="./images/temp/82.jpg" alt="")
				.h2 Заголовок
				.text
					| История предприятия Hörmann началась в 50-е годы прошлого века с промышленного изготовления гаражных подъемно-поворотных ворот оригинальной конструкции — ворот Berry. Перспективное развитие нашей фирмы началось в 1960-е годы с производства компактных, открывающихся вертикально секционных ворот для гаражей, промышленных зданий и мастерских. Ассортимент продукции с тех пор постоянно расширялся. Сегодня помимо известных классических моделей он включает в себя также рулонные, откатные и скоростные ворота, входные и внутренние двери, дверные коробки, приводы ворот и дверей, огнестойкие и дымонепроницаемые перегородки, перегрузочную технику, а также автоматические системы для сдвижных дверей и управления при въезде/выезде автомобилей.
	h2.wow(data-wow-offset='200') Продукция Hörmann
	.subtext.width-700.margin-56.wow(data-wow-offset='200')
		| Качество или инновации, безопасность или дизайн — продукция Hörmann превосходит все ожидания. Мы не знаем компромиссов. Наши клиенты знают это. И доверяют нам уже многие десятилетия.
	.products.wow(data-wow-offset='200')
		.products__row
			.products__col
				.products__item
					.products__item__image
						img(src="./images/temp/90.jpg" alt="")
					.products__item__content
						.title-text
							a(href="#") Гаражные ворота
						.text
							a(href="#") Cекционные ворота
							a(href="#") Рулонные ворота
							a(href="#") Откатные  секционные ворота
			.products__col
				.products__item
					.products__item__image
						img(src="./images/temp/91.jpg" alt="")
					.products__item__content
						.title-text
							a(href="#") Входные двери
						.text
							a(href="#") Thermo 65
							a(href="#") Название модели
							a(href="#") Длинное название модели
							a(href="#") Длинное название модели
	.title-text.wow(data-wow-offset='200')
		| Списки
	.styles-list
		.styles-list__col.wow(data-wow-offset='200')
			.page-text-list
				ol
					li Механическая уравнительная платформа MLS с откидной аппарелью
					li Механическая уравнительная платформа MRS с откидной аппарелью
					li Пункт со вложенным подпунктом
						ol
							li Подпункт в списке
		.styles-list__col.wow(data-wow-offset='200')
			.page-text-list
				ul
					li Механическая уравнительная платформа MLS с откидной аппарелью
					li Механическая уравнительная платформа MRS с откидной аппарелью
					li Пункт со вложенным подпунктом
						ul
							li Подпункт в списке
	.title-text.wow(data-wow-offset='200')
		| Официальное представительство ООО «Хёрманн Руссия» в Санкт-Петербурге
	form.contacts.wow(data-wow-offset='200' action="#" data-app="contacts")
		.form__radio
			button.is-active(type="button") Все
			label
				input(type="checkbox" value="type-1")
				i
				span Гаражные ворота
			label
				input(type="checkbox" value="type-2")
				i
				span Входные двери
			label
				input(type="checkbox" value="type-3")
				i
				span Межкомнатные двери
		.contacts__box
			.contacts__list
				.contacts__list__scroll
					.contacts__list__content
						.contacts__item(data-lat="44.5022" data-lng="34.1513" data-types=['type-1'])
							.contacts__item__name
								| #[span ул. Посадская, д. 28-а] ТЦ «Универбыт», оф. 508
							.contacts__item__type
								span Продажа
								span Сервис
								span Архитекторам
								span Бизнесу
								span Выставочный зал
							.contacts__item__adress
								ul
									li
										.contacts__item__adress__label Телефон:
										span
											a(href="tel:+7 (812) 702-44-22") +7 (812) 702-44-22
											br
											a(href="tel:+7 (981) 754-86-36") +7 (981) 754-86-36
									li
										.contacts__item__adress__label Email:
										a(href="mailto:astorural@mail.ru") astorural@mail.ru
									li
										.contacts__item__adress__label Сайт:
										a(href="#") воротагаражные.рф
						.contacts__item(data-lat="44.5035" data-lng="34.1581" data-types=['type-2'])
							.contacts__item__name
								| #[span ул. Мамина-Сибиряка, д. 85, 3 этаж] ООО «Дор-Сити»
							.contacts__item__type
								span Продажа
							.contacts__item__adress
								ul
									li
										.contacts__item__adress__label Телефон:
										a(href="tel:+7 (812) 702-44-22") +7 (812) 702-44-22
									li
										.contacts__item__adress__label Email:
										a(href="mailto:astorural@mail.ru") astorural@mail.ru
									li
										.contacts__item__adress__label Сайт:
										a(href="#") воротагаражные.рф
						.contacts__item(data-lat="44.5010" data-lng="34.1564" data-types=['type-3'])
							.contacts__item__name
								| #[span ул. Посадская, д. 28-а] ТЦ «Универбыт», оф. 508
							.contacts__item__type
								span Продажа
							.contacts__item__adress
								ul
									li
										.contacts__item__adress__label Телефон:
										a(href="tel:+7 (812) 702-44-22") +7 (812) 702-44-22
									li
										.contacts__item__adress__label Email:
										a(href="mailto:astorural@mail.ru") astorural@mail.ru
									li
										.contacts__item__adress__label Сайт:
										a(href="#") воротагаражные.рф
			.contacts__map#map(data-lat="44.504565" data-lng="34.148387" data-zoom="18" data-icon="./images/map-pin.svg" data-icon-active="./images/map-pin-active.svg")
	.styles
		.is-colors
			.is-colors__row
				.is-colors__col
					.is-colors__item
					.text #262626
				.is-colors__col
					.is-colors__item.is-colors__item_2
					.text #797C80
				.is-colors__col
					.is-colors__item.is-colors__item_3
					.text #D9D9D9
				.is-colors__col
					.is-colors__item.is-colors__item_4
					.text #F2F3F8
				.is-colors__col
					.is-colors__item.is-colors__item_5
					.text #003A7D
				.is-colors__col
					.is-colors__item.is-colors__item_6
					.text #F9AD09
				.is-colors__col
					.is-colors__item.is-colors__item_7
					.text #E3000F
		.styles__right
			.is-btns
				.is-btns__row
					.is-btns__col
						.text Важная кнопка
						a.btn.btn_yellow(href="#")
							span Найти дилера
					.is-btns__col
						.text Обычная кнопка
						a.btn(href="#")
							span Найти дилера
					.is-btns__col
						.text Второстепенная кнопка
						a.btn.btn_white(href="#")
							span Найти дилера
			.is-favicon
				.text Favicon
				.is-favicon__row
					.is-favicon__item
						.is-favicon__item__img
							img(src="./images/favicon.jpg" alt="")
						.text 72x72 px
					.is-favicon__item
						.is-favicon__item__img
							img(src="./images/favicon2.jpg" alt="")
						.text 32x32 px
					.is-favicon__item
						.is-favicon__item__img
							img(src="./images/favicon3.jpg" alt="")
						.text 16x16 px
	form.form.wow(data-wow-offset="200" action="./ajax/test.json" method="get" data-app="form")
		.form__box
			.form__radio
				label
					input(type="radio" name="form")
					i
					span Консультация по продукции
				label
					input(type="radio" name="form")
					i
					span Сервисное обслуживание
				label
					input(type="radio" name="form")
					i
					span Запрос чертежа
				label
					input(type="radio" name="form" checked)
					i
					span Расчет стоимости
				label
					input(type="radio" name="form")
					i
					span Другое
			.form__row.form__row_width-33
				.form__col
					.form__input
						.form__label
							| Ваше имя *
						.form__field
							input(type="text" name="name" data-validation={
								regex: ['^[a-zA-Zа-яА-Я\\s]+$', 'ig'],
								maxlength: 300,
							} required)
				.form__col
					.form__input
						.form__label
							| Телефон
						.form__field
							input(type="text" placeholder="Недоступное поле" disabled)
				.form__col
					.form__input
						.form__label
							| Ошибка
						.form__field
							input(type="email" name="email" data-validation={
								regex: ['^\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,6}\\b$', 'i'],
								maxlength: 254,
							} required)
			.form__input
				.form__label
					| Сообщение
				.form__field
					textarea()
			.form__submit
				button.btn(type="submit")
					span Найти дилера
				.checkbox
					label
						input(type="checkbox" name="checkbox" required)
						i
						span Я ознакомлен и согласен с условиями сбора и обработки персональных данных в рамках #[a(href="#") Политики конфиденциальности]
