.container
	.breadcrumbs
		ul(itemscope itemtype="http://schema.org/BreadcrumbList")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Главная
				meta(itemprop="position" content="1")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(itemprop="item" href="#")
					span(itemprop="name") Медиа
				meta(itemprop="position" content="2")
			li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/video/")
					span(itemprop="name") Видео
				meta(itemprop="position" content="3")
	h1.h2.wow(data-wow-offset="200") Медиа
	.links-tabs.wow(data-wow-offset="200")
		.links-tabs__row
			a.subtext(href="#") Каталоги продукции
			a.subtext.is-active(href="#") Видео
			a.subtext(href="#") Документация
			a.subtext(href="#") Журнал Portal
	.items.wow(data-wow-offset="200")
		.items__row
			.items__col
				a.items__item(href="https://www.youtube.com/watch?v=5jermSA-KpE&ab_channel=H%C3%B6rmannRussia" data-fancybox)
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
						.items__item__image__play
							+svg('play')
					.subtext Заголовок видеоролика
			.items__col
				a.items__item(href="https://www.youtube.com/watch?v=5jermSA-KpE&ab_channel=H%C3%B6rmannRussia" data-fancybox)
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
						.items__item__image__play
							+svg('play')
					.subtext Заголовок видеоролика
			.items__col
				a.items__item(href="https://www.youtube.com/watch?v=5jermSA-KpE&ab_channel=H%C3%B6rmannRussia" data-fancybox)
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
						.items__item__image__play
							+svg('play')
					.subtext Заголовок видеоролика
			.items__col
				a.items__item(href="https://www.youtube.com/watch?v=5jermSA-KpE&ab_channel=H%C3%B6rmannRussia" data-fancybox)
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
						.items__item__image__play
							+svg('play')
					.subtext Заголовок видеоролика
			.items__col
				a.items__item(href="https://www.youtube.com/watch?v=5jermSA-KpE&ab_channel=H%C3%B6rmannRussia" data-fancybox)
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
						.items__item__image__play
							+svg('play')
					.subtext Заголовок видеоролика
			.items__col
				a.items__item(href="https://www.youtube.com/watch?v=5jermSA-KpE&ab_channel=H%C3%B6rmannRussia" data-fancybox)
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
						.items__item__image__play
							+svg('play')
					.subtext Заголовок видеоролика
			.items__col
				a.items__item(href="https://www.youtube.com/watch?v=5jermSA-KpE&ab_channel=H%C3%B6rmannRussia" data-fancybox)
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
						.items__item__image__play
							+svg('play')
					.subtext Заголовок видеоролика
			.items__col
				a.items__item(href="https://www.youtube.com/watch?v=5jermSA-KpE&ab_channel=H%C3%B6rmannRussia" data-fancybox)
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
						.items__item__image__play
							+svg('play')
					.subtext Заголовок видеоролика
			.items__col
				a.items__item(href="https://www.youtube.com/watch?v=5jermSA-KpE&ab_channel=H%C3%B6rmannRussia" data-fancybox)
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
						.items__item__image__play
							+svg('play')
					.subtext Заголовок видеоролика
			.items__col
				a.items__item(href="https://www.youtube.com/watch?v=5jermSA-KpE&ab_channel=H%C3%B6rmannRussia" data-fancybox)
					.items__item__image
						img(src="./images/temp/43.jpg" alt="")
						.items__item__image__play
							+svg('play')
					.subtext Заголовок видеоролика

