// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: 'Roboto Condensed', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// Copy text color
/// @type Color
$text-color: #262626 !default;

/// Main brand color
/// @type Color
$brand-color: #003A7D !default;

/// Main brand color hovered
/// @type Color
$brand-color-hovered: #002F66 !default;

/// Second brand color
/// @type Color
$scnd-brand-color: #F9AD09 !default;

/// Titles color
/// @type Color
$title-color: #3d3e44 !default;

/// Light grey
/// @type Color
$light-grey: #797c80 !default;

/// Medium grey
/// @type Color
$mid-grey: #606060 !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Section default vertical gutter
/// @type Length
$section-gutter: 60px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
	'small': 320px,
	'medium': 768px,
	'large': 1024px,
) !default;


/// Relative or absolute URL where all sources are served from

$base-url: '/dist/' !default;

// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-mine-shaft: #262626;
$color-regal-blue: #003a7d;
$color-midnight-blue: #002f66;
$color-dusty-gray: #979797;
$color-sun: #f9ad09;
$color-whisper: #f2f3f8;
$color-rolling-stone: #797c80;
$color-nobel: #b4b4b4;
$color-alto: #d9d9d9;
$color-shuttle-gray: #616366;
$color-red: #e3000f;

// FONTS

$font-family-roboto-condensed: "Roboto Condensed", sans-serif;
$font-family-roboto: "Roboto", sans-serif;

// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

// BREAKPOINTS

$sm: 768px;

$animation-speed: 0.4s;
