footer.is-footer
	.container
		.is-footer__container
			.is-footer__info
				ul
					li: a(href="mailto:info@hoermann.ru")
						+svg('letter')
						span info@ #[br] hoermann.ru
					li: a(href="tel:+7 (843) 206-02-86")
						+svg('phone')
						span +7 (843) 206-02-86
						span.is-footer__info_date Пн-Пт с 10:00 до 18:00
					li: a(href="#")
						+svg('point')
						span Задать #[br] вопрос
			.is-footer__left
				a.is-footer__logo(href='#')
					img.responsive-img(src='./images/logo.svg' alt='')
				.is-footer__links
					ul
						li: a(href="#"): +svg('vk')
						li: a(href="#"): +svg('facebook')
						li: a(href="#"): +svg('instagram')
						li: a(href="#"): +svg('youtube')
				.is-footer__l-contacts
					span.tm © 2019 Представительство ООО «Хёрманн Руссия»
			.is-footer__center
				ul.is-footer__nav
					li.is-footer__nav-item
						a.is-link.is-footer__nav-text(href='#') Гаражные секционные ворота
					li.is-footer__nav-item
						a.is-link.is-footer__nav-text(href='#') Приводы для гаражных ворот
					li.is-footer__nav-item
						a.is-link.is-footer__nav-text(href='#') Промышленные секционные ворота
					li.is-footer__nav-item
						a.is-link.is-footer__nav-text(href='#') Перегрузочная техника
					li.is-footer__nav-item
						a.is-link.is-footer__nav-text(href='#') Системы контроля въезда
				ul.is-footer__nav
					li.is-footer__nav-item
						a.is-link.is-footer__nav-text(href='#') Входные двери
					li.is-footer__nav-item
						a.is-link.is-footer__nav-text(href='#') Калькулятор
					li.is-footer__nav-item
						a.is-link.is-footer__nav-text(href='#') Межкомнатные двери
					li.is-footer__nav-item
						a.is-link.is-footer__nav-text(href='#') Специальные двери
					li.is-footer__nav-item
						a.is-link.is-footer__nav-text(href='#') Огнестойкие двери
			.is-footer__right
				.is-footer__r-contacts
					a.phone.is-link(href='tel:+78432060286') +7 (843) 206-02-86
					span.scedule Пн–Пт с 10:00 до 18:00
					a.is-link.is-link--has-icon.is-footer__r-actions(href='#')
						svg(width='16' height='23' viewBox='0 0 16 23' fill='#003a7d' xmlns='http://www.w3.org/2000/svg')
							path(fill-rule='evenodd' clip-rule='evenodd' d='M12.014 1.75743C10.7846 0.996125 9.44355 0.615479 7.99069 0.615479C6.91036 0.615479 5.87661 0.843866 4.88941 1.30065C3.90221 1.75743 3.05161 2.36964 2.3376 3.13729C1.62359 3.90494 1.05549 4.8058 0.633295 5.8399C0.211096 6.87401 0 7.94933 0 9.06591C0 10.5505 0.372523 12.1301 1.11758 13.805C1.6267 14.7186 2.21963 15.6575 2.89639 16.6218C3.57315 17.5861 4.18471 18.3982 4.73108 19.058C5.27746 19.7178 5.84245 20.3712 6.42608 21.0183C7.0097 21.6654 7.40396 22.0937 7.60885 22.303C7.81374 22.5124 7.97206 22.6678 8.08382 22.7693L9.08964 21.5893C9.76019 20.7899 10.648 19.6512 11.7532 18.173C12.8584 16.6948 13.8393 15.2642 14.6962 13.8811C15.5654 12.0667 16 10.4299 16 8.97075C16 7.48621 15.643 6.10319 14.929 4.82166C14.215 3.54013 13.2433 2.51873 12.014 1.75743ZM8 4.02396C9.22399 4.02396 10.2707 4.4407 11.1402 5.27418C12.0097 6.10766 12.4444 7.11423 12.4444 8.29393C12.4444 9.47363 12.0097 10.477 11.1402 11.3041C10.2707 12.1311 9.22399 12.5447 8 12.5447C6.77602 12.5447 5.72929 12.1311 4.8598 11.3041C3.9903 10.477 3.55556 9.47363 3.55556 8.29393C3.55556 7.11423 3.9903 6.10766 4.8598 5.27418C5.72929 4.4407 6.77602 4.02396 8 4.02396Z' fill='#003A7D')
						span Где купить
					a.is-link.is-link--has-icon.is-footer__r-actions(href='mailto:info@hoermann.ru')
						svg(fill='#003a7d' height='14' viewBox='0 0 16 14' width='16' xmlns='http://www.w3.org/2000/svg')
							path(d='m.333333.333333h15.333367c.0889 0 .1422.022222.16.066667.0266.044444.0044.102222-.0667.173333l-7.52 7.559997c-.07111.07111-.15111.10667-.24.10667s-.16889-.03556-.24-.10667l-7.52-7.559997c-.071111-.071111-.097778-.128889-.08-.173333.026667-.044445.084444-.066667.173333-.066667zm-.093333 2.906667 3.52 3.52c.07111.07111.10667.15111.10667.24s-.03556.16889-.10667.24l-3.52 3.52c-.071111.0711-.128889.0978-.1733333.08-.0444445-.0267-.0666667-.0844-.0666667-.1733v-7.33337c0-.08889.0222222-.14222.0666667-.16.0444443-.02666.1022223-.00444.1733333.06667zm12 3.52 3.52-3.52c.0711-.07111.1289-.09333.1733-.06667.0445.01778.0667.07111.0667.16v7.33337c0 .0889-.0222.1466-.0667.1733-.0444.0178-.1022-.0089-.1733-.08l-3.52-3.52c-.0711-.07111-.1067-.15111-.1067-.24s.0356-.16889.1067-.24zm-1.3333 1.81333 4.8533 4.85337c.0711.0711.0933.1289.0667.1733-.0178.0444-.0711.0667-.16.0667h-15.333367c-.088889 0-.146666-.0223-.173333-.0667-.017778-.0444.008889-.1022.08-.1733l4.85333-4.85337c.07111-.07111.15111-.10666.24-.10666s.16889.03555.24.10666l2.18667 2.18667c.07111.0711.15111.1067.24.1067s.16889-.0356.24-.1067l2.1867-2.18667c.0711-.07111.1511-.10666.24-.10666s.1689.03555.24.10666z' fill='#003a7d')
						span info@hoermann.ru
					a.is-link.is-link--has-icon.is-footer__r-actions(href='#')
						svg(style='margin-top: 3px;' fill='#003a7d' height='15' viewBox='0 0 16 15' width='16' xmlns='http://www.w3.org/2000/svg')
							path(d='m1.33333.333333h13.33337c.3644 0 .6755.133333.9333.4.2667.257778.4.568887.4.933337v8c0 .36443-.1333.68003-.4.94663-.2578.2578-.5689.3867-.9333.3867h-7.9467l-4.05333 4v-4h-1.33334c-.364441 0-.679997-.1289-.946663-.3867-.257778-.2666-.386667-.5822-.386667-.94663v-8c0-.36445.128889-.675559.386667-.933337.266666-.266667.582222-.4.946663-.4z' fill='#003a7d')
						span Задать вопрос
					.is-footer__social
						.b-social
							a.b-social__item.is-link(href='#')
								svg(fill='#003a7d' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg')
									path(clip-rule='evenodd' d='m0 12c0-6.6275 5.3725-12 12-12s12 5.3725 12 12-5.3725 12-12 12-12-5.3725-12-12zm17.9375 3.0725c-.2612-.4862-1.3225-1.5338-1.3225-1.5338-.9787-.9162-.9787-.9774-.0575-2.1849l.0052-.0069c.13-.1709.2795-.3674.4485-.5919 1.0163-1.37625 1.0813-1.83 1.0263-1.97875-.0312-.09375-.1975-.13-.44-.13h-2.2262c-.0351 0-.1038.00625-.1551.03625-.0616.03677-.1143.12867-.1355.16575-.0012.002-.0022.00384-.0032.0055-.0225.06125-.3375.89-.7438 1.59245-.9275 1.5913-1.2699 1.5913-1.3837 1.5913-.0512 0-.1-.015-.1425-.0412-.3267-.2158-.3126-.74-.3001-1.2029l.0001-.0034c0-.0438.001-.0863.002-.1275.0009-.0387.0017-.0762.0017-.1125 0-.345.0113-.6375.0226-.89625.0362-.91125.0274-1.1775-.385-1.27625-.2038-.05125-.3488-.0875-.9113-.095h-.2888c-.5187 0-1.0412.02125-1.3312.16625-.115.05625-.2075.15-.24875.21125.16.03.42375.11125.57875.325.2162.295.2175.91.2175.96875.0188.31255.0975 1.81875-.325 2.05375-.05625.0288-.1125.045-.17375.045-.32375 0-.7275-.47-1.38625-1.6275-.36123-.63132-.59694-1.20037-.69221-1.43035-.01187-.02866-.02156-.05206-.02904-.06965-.0575-.13625-.14-.29-.3925-.29h-1.89375c-.21125 0-.405.12125-.31125.3475.0125.0325 1.5 3.53 3.1525 5.2738 1.35 1.4237 2.87375 1.5262 3.16625 1.5262h.8588c.1587 0 .3837-.1637.3837-.4488 0-.9124.3075-1.2549.5475-1.3324.0375-.0125.0787-.0188.1187-.0188.3175 0 .6325.365.9963.7875l.0014.0016c.2433.2833.4928.5737.7461.7509.33.2275.6025.2613.7325.2613h1.875c.1025-.0076.4025-.0926.49-.265.0525-.1038.0275-.2426-.0787-.4213-.0006-.0011-.0012-.0024-.0019-.0039-.0024-.0054-.006-.0133-.0119-.0211z' fill='#003a7d' fill-rule='evenodd')
							a.b-social__item.is-link(href='#')
								svg(fill='#003a7d' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg')
									path(clip-rule='evenodd' d='m.480011 12c0-6.36242 5.157599-11.52002 11.519989-11.52002 6.3624 0 11.52 5.1576 11.52 11.52002 0 6.3624-5.1576 11.52-11.52 11.52-6.36239 0-11.519989-5.1576-11.519989-11.52zm12.517189-3.55922h1.7316v-1.8972h-1.7316c-1.4328 0-2.4768 1.2228-2.4768 2.7276v1.04882h-1.85399v1.7832h1.85399v5.3532h2.0436v-5.3532h1.8384l.3276-1.7832h-2.166v-1.25042c0-.3588.228-.6288.4332-.6288z' fill='#003a7d' fill-rule='evenodd')
							a.b-social__item.is-link(href='#')
								svg(fill='#003a7d' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg')
									path(clip-rule='evenodd' d='m12 0c-6.6275 0-12 5.3725-12 12s5.3725 12 12 12 12-5.3725 12-12-5.3725-12-12-12zm-6.6 9c0-1.98822 1.61178-3.6 3.6-3.6h6c1.9882 0 3.6 1.61178 3.6 3.6v6c0 1.9882-1.6118 3.6-3.6 3.6h-6c-1.98822 0-3.6-1.6118-3.6-3.6zm3.6-2.6c-1.43594 0-2.6 1.16406-2.6 2.6v6c0 1.4359 1.16406 2.6 2.6 2.6h6c1.4359 0 2.6-1.1641 2.6-2.6v-6c0-1.43594-1.1641-2.6-2.6-2.6zm3.2053 4.2152c-.5974-.0886-1.1843.216-1.4558.7554-.2715.5395-.1665 1.1923.2606 1.6193.427.4271 1.0798.5321 1.6193.2606.5394-.2715.844-.8584.7554-1.4558-.0905-.61-.5695-1.089-1.1795-1.1795zm-2.52766.2159c.50426-1.00186 1.59416-1.56741 2.70366-1.40288.3944.05847.7592.20435 1.0744.41749-.0196-.05934-.0344-.12095-.0438-.18437-.0696-.46941.1697-.93054.5936-1.14389.4238-.21335.9368-.13081 1.2723.20474.3356.33555.4181.84847.2047 1.27235-.2133.42386-.6744.66316-1.1438.59356-.0635-.0094-.1251-.0242-.1844-.0438.2131.3152.359.68.4175 1.0744.1645 1.1095-.401 2.1994-1.4029 2.7037-1.0019.5042-2.2142.3092-3.0073-.484-.79316-.7931-.98824-2.0054-.48396-3.0073zm4.73306-1.37607c.0099-.01966.0256-.03495.0443-.04437.018-.00906.0388-.0127.0597-.0096.0218.00323.0412.0134.056.02821s.025.03426.0282.05605c.0031.02092-.0005.04165-.0096.05964-.0094.01873-.0247.03448-.0443.04438-.0189.0095-.0397.01255-.0597.00959-.0207-.00307-.0405-.01265-.056-.02821-.0156-.01556-.0252-.03532-.0282-.05605-.003-.01993.0001-.04076.0096-.05964z' fill='#003a7d' fill-rule='evenodd')
							a.b-social__item.is-link(href='#')
								svg(fill='#003a7d' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg')
									path(clip-rule='evenodd' d='m12 0c-6.6275 0-12 5.3725-12 12s5.3725 12 12 12 12-5.3725 12-12-5.3725-12-12-12zm2.0037 11.7913-2.8075-1.31c-.2449-.1138-.4462.0137-.4462.285v2.4675c0 .2712.2013.3987.4462.285l2.8063-1.31c.2462-.115.2462-.3026.0012-.4175zm-8.2537.2087c0 4.3213.1075 4.875 6.25 4.875s6.25-.5537 6.25-4.875c0-4.32125-.1075-4.875-6.25-4.875s-6.25.55375-6.25 4.875z' fill='#003a7d' fill-rule='evenodd')

	.is-footer__bottom
		.container
			.is-footer__b-cont
				.is-footer__b-main
					a.is-link.item(href='#') Политика конфиденциальности
					a.is-link.item(href='#') Условия использования сайта
					a.is-link.item(href='#') Выходные данные
				.is-footer__b-right
					a.is-link.item(href='#') Сайт разработан в ITECH

button.up-btn(type="button" data-app="up-btn")
