.catalogue {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 56px;

	&__option {
		position: relative;
		align-self: flex-start;
		margin: 0 0 30px;
		padding: 30px 30px 22px;
		width: 100%;
		background: $color-whisper;

		&__drop {
			//display: none;
		}

		&__item {
			margin-bottom: 40px;

			& + & {
				margin-top: 20px;

				@media (min-width: $sm) {
					margin-top: 48px;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__title {
			margin-bottom: 8px;
			font-weight: 700;
		}

		&__title--top {
			position: relative;
			cursor: pointer;
			margin-bottom: 0;

			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				border-top: solid 2px $color-mine-shaft;
				border-left: solid 2px $color-mine-shaft;
				width: 14px;
				height: 14px;
				transform: rotate(-135deg);
				transition: $animation-speed;
			}
		}

		.js-option-item {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&__result {
			position: absolute;
			z-index: 50;
			left: 100%;
			margin-left: -45px;
			display: block;
			padding: 5px;
			font-size: 11px;
			line-height: 18px;
			box-shadow: 0 8px 30px 0 rgba(#000, 0.3);
			color: $color-white;
			opacity: 0;
			visibility: hidden;
			background: $color-regal-blue;
			transform: translateY(-50%);

			&::before {
				content: "";
				position: absolute;
				right: 100%;
				top: 50%;
				border: 9px solid transparent;
				border-right: 10px solid $color-regal-blue;
				transform: translateY(-50%);
			}

			&__text {
				margin-bottom: 2px;

				@media (min-width: $sm) {
					margin-bottom: 4px;
				}
			}

			&__link {
				display: inline;
				border: none;
				border-bottom: 1px dashed $color-white;
				transition: $animation-speed;
				background-color: transparent;
				box-shadow: none;
				color: #fff;
				padding: 0;
				font-weight: 300;
				cursor: pointer;
			}

			&:hover {
				color: $color-white;

				.catalogue__option__result__link {
					color: $color-sun;
					border-color: $color-sun;
				}
			}

			@media (min-width: $sm) {
				margin-left: 10px;
				white-space: nowrap;
				padding: 10px 20px;
				font-size: 13px;
			}
		}

		.checkbox {
			margin-top: 15px;

			@media (min-width: $sm) {
				margin-top: 24px;
			}
		}

		&__more {
			margin-top: 24px;

			button {
				position: relative;
				border: none;
				padding: 0 20px 0 0;
				font-weight: 300;
				color: $color-regal-blue;
				background: transparent;

				&::before {
					content: "";
					position: absolute;
					right: 0;
					top: 50%;
					border-top: 1px solid $color-regal-blue;
					border-left: 1px solid $color-midnight-blue;
					width: 5px;
					height: 5px;
					transform: translateY(-50%) rotate(225deg);
					transition: $animation-speed;
				}

				&.is-active {
					&::before {
						transform: translateY(-50%) rotate(45deg);
					}
				}
			}
		}

		.checkbox-drop {
			display: none;

			&.is-active {
				display: block;
			}
		}

		&__select {
			position: relative;

			.select2-container {
				display: inline-block;
				vertical-align: middle;
				width: 100% !important;

				&--open {
					&.select2-container--default {
						.select2-selection {
							&__arrow {
								margin-top: -2px;
								border-color: $color-regal-blue;
								transform: rotate(225deg);
							}
						}
					}
				}
			}

			.select2-container--default {
				.select2-selection {
					outline: none;
					border: none;
					border-radius: 0;
					height: 56px;
					background-color: transparent;

					&__rendered {
						padding: 16px 45px 16px 16px;
						height: 100%;
						color: $color-mine-shaft;
						background: $color-white;
						transition: $animation-speed;
					}

					&__arrow {
						right: 28px;
						top: 50%;
						margin-top: -5px;
						border-right: solid 1px $color-regal-blue;
						border-bottom: solid 1px $color-regal-blue;
						width: 7px;
						height: 7px;
						transform: rotate(45deg);
						transition: $animation-speed;

						b {
							display: none;
						}
					}
				}

				.select2-dropdown {
					margin-top: 1px;
					border: none;
					border-radius: 0;
					padding: 8px 16px;
					min-width: 220px;
					background: $color-white;
				}

				.select2-results__options {
					&::-webkit-scrollbar {
						width: 5px;
						height: 5px;
						background-color: transparent;
					}

					&::-webkit-scrollbar-track {
						background-color: transparent;
					}

					&::-webkit-scrollbar-thumb {
						border-left: solid 2px $color-white;
						background-color: $color-regal-blue;
						opacity: 0;
					}
				}

				.select2-results__option {
					padding: 9px 0;
					background: none;
					transition: $animation-speed;

					&--highlighted,
					&[aria-selected="true"] {
						color: $color-regal-blue;
					}
				}
			}
		}

		&__btns {
			display: flex;
			justify-content: space-between;
		}

		.btn {
			cursor: pointer;
		}

		&.is-active {
			.catalogue__option__title--top {
				&::after {
					transform: rotate(45deg);
				}
			}
		}

		&.is-active-filter {
			.catalogue__option__result {
				opacity: 1;
				visibility: visible;
			}
		}

		@media (min-width: $sm) {
			flex-shrink: 0;
			margin: 0 32px 0 0;
			width: 384px;
		}
	}

	&__left {
		width: 100%;

		@media (min-width: $sm) {
			flex-shrink: 0;
			margin: 0 32px 0 0;
			width: 384px;
		}
	}

	&__link {
		margin-bottom: 30px;
		width: 100%;

		&:hover {
			span {
				&::after {
					right: -5px;
				}
			}
		}

		@media (min-width: $sm) {
			margin-top: 20px;
			margin-bottom: 0;
		}
	}

	&__content {
		width: 100%;
	}

	&__type {
		margin-bottom: 20px;

		&__row {
			display: flex;
			flex-wrap: wrap;
			margin-right: -4px;

			& + & {
				@media (min-width: $sm) {
					margin-top: 20px;
				}
			}

			@media (min-width: $sm) {
				flex-wrap: nowrap;
				margin-right: 0;
			}
		}

		.btn {
			padding: 5px 16px;

			@media (max-width: $sm - 1) {
				margin: 0 10px 10px 0;
				padding: 5px 10px;
				font-size: 14px;
			}
		}

		.btn + .btn {
			@media (min-width: $sm) {
				margin-left: 24px;
			}
		}

		@media (min-width: $sm) {
			margin-bottom: 52px;
		}
	}

	&__list {
		margin-bottom: 30px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px;
	}

	&__col {
		margin-bottom: 30px;
		padding: 0 16px;
		width: 100%;

		@media (min-width: $sm) {
			margin-bottom: 40px;
			width: 50%;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		height: 100%;
		font-family: $font-family-roboto-condensed;

		&__image {
			flex-shrink: 0;
			position: relative;
			padding-bottom: 63.55%;

			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&:hover {
				~ .catalogue__item__content {
					.catalogue__item__title {
						a {
							color: $color-regal-blue
						}
					}
				}
			}
		}

		&__action {
			position: absolute;
			left: 32px;
			top: 32px;
			border-radius: 12px;
			padding: 4px 15px;
			font-family: $font-family-roboto-condensed;
			font-weight: 700;
			font-size: 12px;
			line-height: 16px;
			color: $color-mine-shaft;
			background: $color-sun;
		}

		&__content {
			position: relative;
			z-index: 5;
			flex: 1;
			display: flex;
			flex-direction: column;
			padding: 32px;
			background: $color-whisper;
		}

		&__title {
			margin-bottom: 24px;
			font-size: 24px;
			color: $color-black;
			transition: $animation-speed;
		}

		&__info {
			margin-top: auto;
			margin-bottom: 24px;
			color: $color-black;

			ul {
				li {
					+ li {
						margin-top: 8px;
					}
				}
			}
		}

		&__row {
			display: flex;
			align-items: center;
		}

		&__price {
			font-size: 24px;
			margin-right: auto;
			color: $color-mine-shaft;

			@media (min-width: $sm) {
				font-size: 30px;
			}
		}

		.btn {
			position: relative;
			z-index: 10;
		}
	}

	.pagination {
		margin-bottom: 56px;

		@media (min-width: $sm) {
			margin-bottom: 120px;
		}
	}

	&.wow {
		opacity: 0;
		transform: translateY(35px);
		transition: 1s;
		transition-delay: 0.25s;

		&.animated {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@media (min-width: $sm) {
		flex-wrap: nowrap;
		margin-bottom: 120px;
	}
}
