.greenbook {
	margin-bottom: 56px;

	.edge {
		padding: 40px 32px;
		margin-bottom: 0;
		color: $color-white;
		background: 50% 50% no-repeat;
		background-size: cover;

		h2 {
			@media (min-width: $sm) {
				margin: 0 0 32px;
			}
		}

		&__number {
			.subtext {
				color: $color-white;
			}
		}

		&__inner {
			.subtext {
				margin-bottom: 16px;
			}

			.text {
				font-size: 12px;
				color: $color-white;
			}
		}

		@media (min-width: $sm) {
			padding: 80px 104px 32px;
		}
	}

	&__info {
		border: 1px solid #E2E2E4;
		border-top: none;
		padding: 40px 32px;

		.subtext {
			font-family: $font-family-roboto;
		}

		&.wow {
			opacity: 0;
			transform: translateY(35px);
			transition: 1s;
			transition-delay: 0.25s;

			&.animated {
				opacity: 1;
				transform: translateY(0);
			}
		}

		@media (min-width: $sm) {
			padding: 80px 104px 50px;
		}
	}

	&__logo {
		margin-bottom: 32px;

		img {
			width: 171px;

			@media (min-width: $sm) {
				width: 271px;
			}
		}

		@media (min-width: $sm) {
			margin-bottom: 40px;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px -40px;
	}

	&__col {
		display: flex;
		flex-direction: column;
		margin-bottom: 32px;
		padding: 0 16px;
		width: 100%;

		@media (min-width: $sm) {
			margin-bottom: 40px;
			width: 50%;
		}
	}

	.link-arrow {
		margin-top: 16px;

		@media (min-width: $sm) {
			margin-top: auto;
		}
	}

	@media (min-width: $sm) {
		margin-bottom: 120px;
	}
}
