.products {
	margin-bottom: 16px;

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__col {
		margin-bottom: 40px;
		padding: 0 15px;
		width: 100%;

		@media (min-width: $sm) {
			margin-bottom: 72px;
			width: 50%;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		height: 100%;

		&__image {
			position: relative;
			padding-bottom: 63.41%;

			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__content {
			padding: 32px;
			height: 100%;
			background: $color-whisper;
		}

		.title-text {
			margin-bottom: 24px;
		}

		.text {
			a {
				display: block;
			}

			a + a {
				margin-top: 10px;

				@media (min-width: $sm) {
					margin-top: 14px;
				}
			}

			@media (min-width: $sm) {
				font-size: 18px;
			}
		}
	}

	&.wow {
		opacity: 0;
		transition: 0.5s;

		.products__col {
			opacity: 0;
			transform: translateY(35px);
			transition: transform 0.5s, opacity 0.5s;
			transition-delay: 0.35s;

			+ .products__col {
				transition-delay: 0.5s;

				+ .products__col {
					transition-delay: 0.65s;

					+ .products__col {
						transition-delay: 0.75s;

						+ .products__col {
							transition-delay: 0.85s;
						}
					}
				}
			}
		}

		&.animated {
			opacity: 1;

			.products__col {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	@media (min-width: $sm) {
		margin-bottom: 48px;
	}
}
