.slider {
	margin-bottom: 56px;

	.swiper-container {
		overflow: visible;
	}

	.swiper-slide {
		@media (max-width: $sm - 1) {
			width: 251px;
		}
	}

	&__item {
		&__image {
			position: relative;
			margin-bottom: 16px;
			padding-bottom: 63.94%;

			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			@media (min-width: $sm) {
				margin-bottom: 32px;
			}
		}

		.title-text {
			margin-bottom: 16px;
		}

		&__text {
			@media (max-width: $sm - 1) {
				font-size: 14px;
			}
		}

		&__label {
			margin-bottom: 8px;
			font-weight: 700;
		}
	}

	&__row {
		display: flex;
		margin: 0 -16px;
	}

	&__col {
		padding: 0 16px;
		width: 100%;
	}

	&__col_width-35 {
		.slider__pic {
			height: 290px;
		}

		.slider__pic + .slider__pic {
			margin-top: 22px;
		}

		@media (min-width: $sm) {
			width: 35%;
		}
	}

	&__col_width-73 {
		@media (min-width: $sm) {
			width: 73%;
		}
	}

	&__pic {
		position: relative;
		display: flex;
		padding: 24px;
		width: 251px;
		height: 196px;
		overflow: hidden;
		box-sizing: border-box;
		color: $color-white;

		&__image {
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: 50% 50% no-repeat;
			background-size: cover;
			transition: 1.5s;
		}

		&__content {
			max-width: 110px;
			align-self: flex-end;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: radial-gradient(100% 100% at 0% 100%, rgba(38, 38, 38, 0.6) 40%, rgba(38, 38, 38, 0.0001) 100%);
				mix-blend-mode: normal;
				opacity: 0.4;

				@media (min-width: $sm) {
					width: 384px;
					height: 288px;
					background: radial-gradient(100% 100% at 0% 0%, rgba(38, 38, 38, 0.6) 0%, rgba(38, 38, 38, 0.0001) 100%);
				}
			}

			@media (min-width: $sm) {
				max-width: 185px;
				align-self: flex-start;
			}
		}

		.title-text {
			position: relative;
			display: inline;
			margin-bottom: 0;
			color: $color-white;

			&::after {
				content: "";
				position: absolute;
				right: -14px;
				bottom: 3px;
				border-top: 3px solid $color-white;
				border-left: 3px solid $color-white;
				width: 7px;
				height: 7px;
				transform: translateY(-50%) rotate(135deg);
				transition: 1.5s;

				@media (min-width: $sm) {
					bottom: 8px;
					width: 8px;
					height: 8px;
					opacity: 0;
					visibility: hidden;
				}
			}

			@media (max-width: $sm - 1) {
				font-size: 18px;
				line-height: 24px;
			}
		}

		@media (min-width: $sm) {
			padding: 32px 40px;
			height: 600px;
			width: auto;
		}
	}

	&__video {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 24px;
		height: 196px;
		color: $color-white;
		box-sizing: border-box;
		background: 50% 50% no-repeat;
		background-size: cover;

		&__icon {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate3d(-50%, -50%, 0);

			svg {
				display: block;
				width: 40px;
				height: 40px;
				fill: none;

				@media (min-width: $sm) {
					width: 72px;
					height: 72px;
				}
			}
		}

		&__title {
			margin-top: auto;
			font-family: $font-family-roboto-condensed;
			color: $color-white;

			@media (max-width: $sm - 1) {
				line-height: 18px;
			}

			@media (min-width: $sm) {
				font-size: 24px;
			}
		}

		@media (min-width: $sm) {
			padding: 32px 40px;
			height: 400px;
		}
	}

	&__goods {
		&__image {
			margin-bottom: 20px;
			position: relative;
			padding-bottom: 62.5%;

			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__title {
			font-weight: 700;
			font-size: 14px;
		}
	}

	&__pager {
		margin-top: 24px;
		text-align: center;

		.swiper-pagination-bullet {
			outline: none;
			border: 5px solid $color-white;
			border-radius: 0;
			width: 38px;
			height: 11px;
			background: $color-alto;
			opacity: 1;
			transition: $animation-speed;

			+ .swiper-pagination-bullet {
				margin-left: 4px;

				@media (min-width: $sm) {
					margin-left: 12px;

				}
			}

			&:hover {
				background: $color-regal-blue;
			}

			&.swiper-pagination-bullet-active {
				height: 12px;
				background: $color-regal-blue;
			}

			@media (min-width: $sm) {
				width: 90px;
			}
		}

		@media (min-width: $sm) {
			margin-top: 32px;
		}
	}

	&.wow {
		.swiper-slide {
			&::before {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				z-index: 5;
				width: 100%;
				height: 100%;
				background: #fff;
				transition: 2s;
			}
		}

		&.animated {
			.swiper-slide {
				&::before {
					width: 0;
				}
			}
		}
	}

	@media (min-width: $sm) {
		margin-bottom: 120px;
	}
}

a.slider__pic {
	@media (min-width: $sm) {
		&:hover {
			.slider__pic__image {
				transform: scale(1.2);
			}

			.title-text {
				&::after {
					right: -20px;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.slider_width-488 {
	.swiper-slide {
		@media (min-width: $sm) {
			width: 488px;
		}
	}
}
