extends pug/base

append vars
	//-

block content
	.main
		include pug/components/header
		.content.content_catalog
			include pug/catalog
		include pug/components/footer
		include pug/components/modals
