extends pug/base

append vars
	//-

block content
	.main
		include pug/components/header-homepage
		.content.content_homepage
			include pug/homepage
		include pug/components/footer
		include pug/components/modals
