extends pug/base

append vars
	//-

block content
	.main
		include pug/components/header
		.content
			include pug/industrial-sectional-vorota
		include pug/components/footer
		include pug/components/modals
