extends pug/base

append vars
	//-

block content
	.main
		include pug/components/header
		.content.content_homepage
			include pug/press
		include pug/components/footer
		include pug/components/modals
