.right_block.wide_, .right_block.wide_N {
    float: none !important;
    width: 100% !important;
}
.page_not_found {
    padding-top: 70px;
    text-align: center;
}
.page_not_found .image {
    text-align: center;
    margin-bottom: 33px;
}
.page_not_found .description {
    text-align: center;
}
.page_not_found .description .subtitle404 {
    font-size: 42px;
    line-height: 52px;
    color: #333;
}
.option-font-bold {
    font-weight: bold;
}
.page_not_found .description .descr_text404 {
    font-size: 1em;
    line-height: 1.6em;
    margin-top: 24px;
}

.page_not_found .description .btn-mainpage {
    margin: 33px 5px 0;
}
.btn.btn-lg {
    font-size: 1em;
    font-size: calc(1em - var(--theme-button-font-size));
    line-height: calc(1em + 4px);
}
.btn.btn-transparent-border {
    background-color: transparent;
    color: #9e9e9e;
    color: var(--fill_dark_light_white_hover);
    border: 1px solid;
    border-color: hsla( initial 0, initial 0%, initial 100%, 0.35 );
}
.btn-lg {
    padding: 13px 24px 14px;
    padding-top: calc(13px + var(--theme-button-padding-1px));
}
.btn {
    /* font-size: 1em; */
    font-size: 0.933em;
    font-size: calc(0.933em - var(--theme-button-font-size));
    font-weight: bold;
    text-transform: none;
    text-transform: var(--theme-text-transform);
    letter-spacing: normal;
    letter-spacing: var(--theme-letter-spacing);
    text-decoration: none;
    margin: 0px;
    border: 1px solid;
    border-radius: 4px;
    border-radius: var(--theme-border-radius);
    padding: 9px 20px 10px;
    padding-top: calc(9px + var(--theme-button-padding-2px));
    padding-bottom: calc(10px + var(--theme-button-padding-1px));
    overflow: hidden;
    transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -ms-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
    -webkit-transition: background-color 0.1s ease;
}
.has-ripple {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.page-top {
    display: none;
}